<% @editable = current_user.owns?(@profile) %>

<div class="row">
	<div class="container content">
		<div class="row">
			<h4>ABOUT ME
			<%= link_to "EDIT", edit_profile_path(@profile), :class => "edit" if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10">
				<%= @profile.about_me %>
			</div>
		</div>

		<div class="row">
			<h4>INGREDIENTS I LIKE
			<%= link_to "EDIT", edit_profile_path(@profile), :class => "edit" if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10 left">
			<%= image_tag "icons/pizza_green.png", class: "icon" %>
			<%= image_tag "icons/pork_green.png", class: "icon" %>
			<%= image_tag "icons/legumes_green.png", class: "icon" %>
			<%= image_tag "icons/soup_green.png", class: "icon" %>
			<%= image_tag "icons/chicken_green.png", class: "icon" %>
			<%= image_tag "icons/legumes_green.png", class: "icon" %>
			<%= image_tag "icons/soup_green.png", class: "icon" %>
			<%= image_tag "icons/chicken_green.png", class: "icon" %>
			<div class="clear"></div>
			</div>
		</div>

		<div class="row">
			<h4>FOODS I LIKE
			<%= link_to "EDIT", edit_profile_path(@profile), :class => "edit" if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10">
				Mexican, Mediterranean, etc.
			</div>
		</div>

		<div class="row">
			<h4>FOODS I DON'T LIKE
			<%= link_to "EDIT", edit_profile_path(@profile), :class => "edit" if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10 bubbles">
				<div>1</div>
				<div>2</div>
				<div>asdklfja;ldskfj</div>
			</div>
		</div>

		<div class="row">
			<h4>COOKING EXPERIENCE
			<%= link_to "EDIT", edit_profile_path(@profile), :class => "edit" if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10">
				star star star star star
			</div>
		</div>

		<div class="row">
			<h4>AVERAGE TIME COOKING
			<%= link_to "EDIT", edit_profile_path(@profile), :class => "edit" if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10">
				30 minutes a day
			</div>
		</div>

		<div class="row">
			<h4>COOKWARE PREFERENCES
			<%= link_to "EDIT", edit_profile_path(@profile), :class => "edit" if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10 bubbles">
				<div>a;dsklf</div>
				<div>3</div>
				<div>3</div>
				<div>3</div>
			</div>
		</div>
	</div>
</div>