<div class="row">
	<div class="container content friends-view">
		<div class="row">
			<h4>MY FRIENDS</h4>
			<div class="search"><input type="text" placeholder="search my friends"></div>
		</div>
		<div class="row friendships">
			<div class="col-xs-12 col-md-10">
			    <ul>
			      <% if @friends.any? %>
			       <% @friends.each do |user| %>
			       		<li>
			       			<%= link_to profile_path(user) do %>
			          			<div class="user_pic" style="background-image: url(<%= user.retrieve_pic %>)"></div>
								<div class="user_name"><%= user.fir_name ? user.fir_name : 'Anon' %></div>
				          	<% end %>
				          	<!-- %= friendship_status(current_user, user) %><br> -->
				          	# Mutual friends<br>
							<%= 'Delete' %>
			          	</li>
			        <% end %>
			      <% end %>
			      <li style="clear:both;"></li>
			    </ul>
			</div>
		</div>

		<h4>OTHER USERS</h4>
		<div class="row friendships">
			<div class="col-xs-12 col-md-10">
			    <ul>
			      <% if @users.any? %>
			       <% @users.each do |user| %>
			       		<% if !Friendship.exists?(current_user, user) || user.id == current_user.id %>
			       			<li>
			       				<% if user.id == current_user.id %>
			       					You
			       				<% end %>
			       				<%= link_to profile_path(user) do %>
			          				<div class="user_pic" style="background-image: url(<%= user.retrieve_pic %>)"></div>
									<div class="user_name"><%= user.fir_name ? user.fir_name : 'Anon' %></div>
									<%= form_tag({controller: "friendship", action: "create", :id => user.id}, method: "post") do %>
										<%= submit_tag("Request", :class => "btn")%><br />
									<% end %>
				        		<% end %>
			          		</li>
			        	<% end %>
			        <% end %>
			      <% end %>
			      <li style="clear:both;"></li>
			    </ul>
			</div>
		</div>

	</div>
</div>