<% @editable = current_user.owns?(@profile) %>

<div class="row">
	<div class="container content about-me-view">
		<div class="row">
			<h4>ABOUT <%= @self? 'ME' : @user.retrieve_name('first').upcase %>
				<%= link_to "EDIT", '#', class: "edit", id: 'edit-about_me' if @editable %>
				<!-- <a href ='#' id='edit-about_me'class='edit'>EDIT</a> -->
			</h4>
			<div class="col-xs-12 col-md-10">
				<!-- %= @profile.about_me %> -->
				<%= best_in_place_if (@editable), @profile, :about_me,
					:as => :textarea,
					:ok_button => 'Save',
					:activator => "#edit-about_me",
					:html_attrs => {maxlength: 800},
					:place_holder => 'Share a bit about yourself'
				%>
			</div>
		</div>

		<div class="row">
			<h4>INGREDIENTS I LIKE
			<!-- %= link_to "EDIT", '#', class: "edit", id: 'edit-preferred-ingredients' if @editable %> -->
			</h4>
			<div class="col-xs-12 col-md-10 left">
				<%= image_tag "icons/pork_green.png", class: "icon" %>
			<!-- % @preferred_ingredients.each do |ingredient| %>
				%= image_tag "icons/"+ingredient.ingredient_name+"_green.png", class: "icon" %>
			% end %> -->
			<div class="clear"></div>
			</div>
		</div>

		<div class="row">
			<h4>FOODS I LIKE
			<!-- %= link_to "EDIT", '#', class: "edit", id: 'edit-foods_i_like' if @editable %> -->
			</h4>
			<div class="col-xs-12 col-md-10">
				Mexican, Mediterranean, etc.
				<!-- %= best_in_place_if (@editable), @profile, :foods_i_like, :as => :textarea, :activator => "#edit-foods_i_like" %> -->
			</div>
		</div>

		<div class="row">
			<h4>FOODS I DON'T LIKE
			<!-- %= link_to "EDIT", '#', class: "edit", id: 'edit-foods_i_dont_like' if @editable %> -->
			</h4>
			<div class="col-xs-12 col-md-10 bubbles">
				<div>1</div>
				<div>2</div>
				<div>asdklfja;ldskfj</div>
			</div>
		</div>

		<div class="row">
			<h4>COOKING EXPERIENCE
			<!-- %= link_to "EDIT", '#', class: "edit", id: 'edit-cooking_experience' if @editable %> -->
			</h4>
			<div class="col-xs-12 col-md-10">
				<div class="star true">&#9733;</div>
				<div class="star true">&#9733;</div>
				<div class="star true">&#9733;</div>
				<div class="star">&#9733;</div>
				<div class="star">&#9733;</div>
				<!-- %= best_in_place_if (@editable), @profile, :cooking_experience, as: :select, :activator => "#edit-cooking_experience" %> -->
			</div>
		</div>

		<div class="row">
			<h4>AVERAGE TIME COOKING
			<%= link_to "EDIT", '#', class: "edit", id: 'edit-average_cook_time' if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10 integer">
				<%= best_in_place_if (@editable), @profile, :average_cook_time, :activator => "#edit-average_cook_time" %> minutes a day
			</div>
		</div>

		<div class="row">
			<h4>COOKWARE PREFERENCES
			<!-- %= link_to "EDIT", '#', class: "edit", id: 'edit-cookware_preferences' if @editable %> -->
			</h4>
			<div class="col-xs-12 col-md-10 bubbles">
				<div>a;dsklf</div>
				<div>3</div>
				<div>3</div>
				<div>3</div>
			</div>
		</div>
	</div>
</div>