<div class="row">

	<div class="col-md_4">
		<h3><%= @profile.fir_name %></h3>
		<h3><%= @profile.las_name %></h3>
		  <%= @profile.about_me %>
		<div class="user_pic" style="background-image: url(<%= @profile.picture_url %>);"></div>
	</div>

	<div class="actions">
		<% if current_user.owns?(@profile) %>
			<%= link_to "Edit", edit_profile_path(@profile), :class => "btn" %>
		<% end %>
	</div>

</div>