<!-- % @editable = current_user.owns?(@profile) %> -->

<div class="row">
	<div class="col-sm-12 col-md-9 col-center content about-me-view">
		<div class="row">
			<h4>About <%= @self? 'Me' : @user.retrieve_name('first') %>
				<%= link_to "EDIT", '#', class: "edit", id: 'edit-about_me' if @editable %>
				<!-- <a href ='#' id='edit-about_me'class='edit'>EDIT</a> -->
			</h4>
			<div class="col-xs-12 col-sm-7 about-me <%= 'about-me-multiline' if @profile.about_me && @profile.about_me.length > 60 %>">
				<!-- %= @profile.about_me %> -->
				<%= best_in_place_if (@editable), @profile, :about_me,
					:as => :textarea,
					:ok_button => 'Save',
					:activator => "#edit-about_me",
					:html_attrs => {maxlength: 800},
					:place_holder => "Share a bit about yourself."
				%>
			</div>
		</div>

		<!-- <div class="row">
			<h4>INGREDIENTS I LIKE
			%= link_to "EDIT", '#', class: "edit", id: 'edit-preferred-ingredients' if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10 left">
				%= image_tag "icons/pork_green.png", class: "icon" %>
			% @preferred_ingredients.each do |ingredient| %>
				%= image_tag "icons/"+ingredient.ingredient_name+"_green.png", class: "icon" %>
			% end %>
			<div class="clear"></div>
			</div>
		</div> -->

		<div class="row">
			<h4>Ingredients I Like
				<%= link_to "EDIT", '#', class: "edit", id: 'edit-preferred_ingredients' if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10">
				<!-- %= @profile.about_me %> -->
				<%= best_in_place_if (@editable), @user, :preferred_list,
					:as => :textarea,
					:ok_button => 'Save',
					:activator => "#edit-preferred_ingredients",
					:html_attrs => {maxlength: 800},
					:place_holder => 'List some of your favorite ingredients (comma separated)'
					%>
					<!-- ,
					'data-tokeninput' => {ingredients: @ingredients}.to_json
				%> -->
			</div>
		</div>

		<div class="row">
			<h4>Ingredients I Don't Like
				<%= link_to "EDIT", '#', class: "edit", id: 'edit-deferred_ingredients' if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10">
				<!-- %= @profile.about_me %> -->
				<%= best_in_place_if (@editable), @user, :deferred_list,
					:as => :textarea,
					:ok_button => 'Save',
					:activator => "#edit-deferred_ingredients",
					:html_attrs => {maxlength: 800},
					:place_holder => "List some ingredients that you don't like (comma separated)"
				%>
			</div>
		</div>

		<!-- <div class="row">
			<h4>FOODS I DON'T LIKE
			</h4>
			<div class="col-xs-12 col-md-10 bubbles">
				<div>1</div>
				<div>2</div>
				<div>asdklfja;ldskfj</div>
			</div>
		</div> -->

		<div class="row">
			<h4>Cooking Experience
			<!-- %= link_to "EDIT", '#', class: "edit", id: 'edit-cooking_experience' if @editable %> -->
			</h4>
			<div class="col-xs-12 col-md-10">
				<div class="star true">&#9733;</div>
				<div class="star true">&#9733;</div>
				<div class="star true">&#9733;</div>
				<div class="star">&#9733;</div>
				<div class="star">&#9733;</div>
				<!-- %= best_in_place_if (@editable), @profile, :cooking_experience, as: :select, :activator => "#edit-cooking_experience" %> -->
			</div>
		</div>

		<div class="row">
			<h4>Average Time Cooking
			<%= link_to "EDIT", '#', class: "edit", id: 'edit-average_cook_time' if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10 integer">
				<%= best_in_place_if (@editable), @profile, :average_cook_time, :activator => "#edit-average_cook_time" %> minutes a day
			</div>
		</div>

		<!-- <div class="row">
			<h4>COOKWARE PREFERENCES
			</h4>
			<div class="col-xs-12 col-md-10 bubbles">
				<div>MAKE ME A TEXTAREA</div>
				<div>3</div>
				<div>3</div>
				<div>3</div>
			</div>
		</div> -->

		<div class="row">
			<h4>Cookware Preferences
				<%= link_to "EDIT", '#', class: "edit", id: 'edit-cookware_preferences' if @editable %>
			</h4>
			<div class="col-xs-12 col-md-10">
				<!-- %= @profile.about_me %> -->
				<%= best_in_place_if (@editable), @profile, :cookware_preferences,
					:as => :textarea,
					:ok_button => 'Save',
					:activator => "#edit-cookware_preferences",
					:html_attrs => {maxlength: 800},
					:place_holder => 'Share your favorite cookware.'
				%>
			</div>
		</div>

	</div>
</div>

<script>
	function checkAboutMeHeight(){
		if( $('.about-me').height() > 20)
			$('.about-me').addClass('about-me-multiline');
		else
			$('.about-me').removeClass('about-me-multiline');
	}

	$(document).ready(function(){
		
		$('.about-me').click(function(e){
			setTimeout(function() { checkAboutMeHeight()}, 0);
		});

		checkAboutMeHeight();
	});
</script>