<div class="row">

	<div class="col-md_4">
		<h3><%= @profile.fir_name %></h3>
		  <%= @profile.about_me %>
	</div>

	<div class="col-md_4">
		<h3>Friends</h3>
		  <% @friends.each do |friend| %>
		    <h5><%= friend.email %></h5>
		    <%= form_tag({controller: "friendship", action: "delete", :id => friend.id}, method: "post") do %>
                         <%= submit_tag "Remove", :class => "btn" %>
            <% end %>
		  <% end %>

	</div>

		<div class="col-md_4">
			<h3>Recipes</h3>
			  <% @recipes.each do |recipe| %>
			    <h5><%= recipe.name %></h5>
	            <% end %>

		</div>

</div>