<% @layout = false %>

<div class="signin-col">
	<div>
		<h2>Thank you for registering!</h2>
		
		<p>An email has been sent to <%= resource.email %> with instructions on how to finish setting up your account.</p>

	<br><br>

		<p>Don't see the email?</p>
		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 
		  </div>

		  <div class="clear"></div>
		    <br />

		  <div class="actions">
		    <%= f.submit "Resend confirmation instructions", style: 'width: 100%'%>
		  </div>
		<% end %>

		    <div class="clear"></div>
		    <br />
		    <br />
		  
		    <%= link_to "LOGIN", new_session_path(resource_name) %>

		    <br />
		    <br />

		    <div class="or wing"></div><div class="or">or</div><div class="or wing"></div>

		    <br />
		    <br />

		    <!-- %= link_to "Facebook", user_omniauth_authorize_path(:facebook), style: 'color: blue;' %> -->
		    <!-- %= link_to user_omniauth_authorize_path(:facebook) do %> -->
		    <%= link_to user_facebook_omniauth_authorize_path do %>
		      <%= image_tag('log_in_with_facebook.png') %>
		      <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div> -->
		    <% end %>

		     <!-- render "devise/shared/links" %> -->
	  </div>
</div>