<% @layout = false %>

<div class="signin-col">
	<div>
		<h2>Thank you for registering!</h2>

		
		An email has been sent to <%= @user.email %> with instructions on how to finish setting up your account.

			<%= link_to sent_user_confirmation_path %>

		    <div class="clear"></div>
		    <br />
		    <br />
		  
		    <%= link_to "LOGIN", new_session_path(resource_name) %>

		    <br />
		    <br />

		    <div class="or wing"></div><div class="or">or</div><div class="or wing"></div>

		    <br />
		    <br />

		    <!-- %= link_to "Facebook", user_omniauth_authorize_path(:facebook), style: 'color: blue;' %> -->
		    <!-- %= link_to user_omniauth_authorize_path(:facebook) do %> -->
		    <%= link_to user_facebook_omniauth_authorize_path do %>
		      <%= image_tag('log_in_with_facebook.png') %>
		      <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div> -->
		    <% end %>

		     <!-- render "devise/shared/links" %> -->
	  </div>
</div>