<div class="signin-col">

  <div>
    <!-- <h2>Sign up</h2> -->

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field split first">
        <%= f.text_field :fir_name, autofocus: false, placeholder: 'First name' %>
      </div>
      <div class="field split">
        <%= f.text_field :las_name, autofocus: false, placeholder: 'Last name' %>
      </div>

      <div class="clear"></div>
      <br />

      <div class="field">
        <%= f.text_field :country, autofocus: false, placeholder: 'Country' %>
      </div>

      <br />

      <div class="field">
        <%= f.email_field :email, autofocus: false, placeholder: 'Email' %>
      </div>

      <br />

      <div class="field">
        <!-- <%= f.label :password %> -->
        <% if @minimum_password_length %>
        <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
        <% end %>
        <!-- <br /> -->
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password' %>
      </div>

      <br />

      <div class="field">
        <!-- <%= f.label :password_confirmation %><br /> -->
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password' %>
      </div>

      <br />

      <div class="clear"></div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <br />
    <br />
    <div class="clear"></div>

    <%= link_to "LOGIN", new_session_path(resource_name) %>

    <br />
    <br />

    <div class="or wing"></div><div class="or">or</div><div class="or wing"></div>

    <br />
    <br />

    <!-- %= link_to "Facebook", user_omniauth_authorize_path(:facebook), style: 'color: blue;' %> -->
    <%= link_to user_omniauth_authorize_path(:facebook) do %>
      <%= image_tag('log_in_with_facebook.png') %>
    <% end %>

    <!-- render "devise/shared/links" %> -->


    
  </div>

</div>