<ul>
  <li><span>Filtering by:</span></li>
  <% if filterring_by %>
    <% filterring_by.each do |f, options| %>
      <% if f != 'sorted_by' && f != 'search_query' %>
        <% if options.kind_of?(Array) %>
          <% options.each do |o| %>
            <li class="filtering-by" data-name='filterrific[<%= f %>][]' data-value='<%= o %>'>
              <% options = 'options_for_' + f %>
              <%= Recipe.send(options)[o.to_i-1][0] %>
              <span>x</span>
            </li>
          <% end %>
        <!-- % elsif options.kind_of?(String) %> -->
        <% else %>
            <li class="filtering-by" data-name='filterrific[<%= f %>]' data-value='9'>
              <%= "Recipes I've Created" if f == 'owns' %>
              <%= "Recipes I'm Following" if f == 'following' %>
              <%= "Recipes I've Cooked" if f == 'cooked' %>
              <span>x</span>
            </li>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</ul>