<%= form_for_filterrific @filterrific do |f| %>
  
  <div class='sort-by'>
    <div id="sort-by-label">Sort By</div>
    <div style='display:none'>
      <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by], class: 'sort-by-dropdown') %>
    </div>
    <div id='dd'>
      <div class='selected-sort-by'>
        <span><%= @filterrific.select_options[:sorted_by][0][0] %></span>
        <%= image_tag "icons/down.png" %>
      </div>
      <ul class='custom-dropdown'>
      <% @filterrific.select_options[:sorted_by].each do |o| %>
        <li> <%= o[0] %> </li>
      <% end %>
      </ul>
    </div>
  </div>
  
  <div class="filter-search">
    <div id ="reset-filters">
      <%= link_to(
        'Reset filters',
        reset_filterrific_url,
      ) %>
    </div>  

     <%= f.text_field(
       :search_query,
       class: 'filterrific-periodically-observed',
       placeholder: "Find a Recipe"
     ) %>
   </div>

  
  <div class="dropdowns">

    <!-- % @filterrific.select_options[:latest].each do |c| %>
       <label class="latest checkbox label-for-check">
        Latest
        %= check_box_tag("filterrific[latest][]", c[1]) %>
      </label>
    % end %> -->

    <div class="dropdown main-ingredient">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Main Ingredient
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li id="ingredient-options checkbox">
          <% @filterrific.select_options[:sort_by_ingredients].each do |c| %>
            <label class="checkbox">
              <%= c[0] %>
              <%= check_box_tag("filterrific[sort_by_ingredients][]",c[1])  %>
            </label>
          <% end %>
        </li>
      </ul>
    </div>  

    <div class="dropdown meal-type">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Meal Type
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li id="checkbox">
          <% @filterrific.select_options[:meal_type].each do |c| %>
            <label class="checkbox">
              <%= c[0] %>
              <%= check_box_tag("filterrific[meal_type][]",c[1]) %>
            </label>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="dropdown style">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Food Style
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li id="checkbox">
          <% @filterrific.select_options[:style].each do |c| %>
            <label class="checkbox">
              <%= c[0] %>
              <%= check_box_tag("filterrific[style][]",c[1]) %>
            </label>
          <% end %>
        </li>
      </ul>
    </div>  

    <div class="dropdown difficulty">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Difficulty
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li id="checkbox">
          <% @filterrific.select_options[:difficulty].each do |c| %>
            <label class="checkbox">
              <%= c[0] %>
              <%= check_box_tag("filterrific[difficulty][]",c[1]) %>
            </label>
          <% end %>
        </li>
      </ul>
    </div> 



    <!-- <div class="dropdown time">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Time
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li id="checkbox">
          <label class="checkbox">
            Cook Time &#8804;
            %= f.number_field(:cook_time, class: 'number filterrific-periodically-observed',) %> min
          </label>
          <label class="checkbox">
            Prep Time &#8804;
            %= f.number_field(:cook_time, class: 'number filterrific-periodically-observed') %> min
          </label>
        </li>
      </ul>
    </div> -->

    <!-- <div class="dropdown rating">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Rating
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li id="checkbox">
          <label class="checkbox">
            Total Ratings &#8805;
            %= f.number_field(:ratings_count, class: 'number filterrific-periodically-observed') %>
          </label>
          <label class="checkbox">
            Average Rating &#8805;
            </label>
        </li>
      </ul>
    </div> -->

    <div class="dropdown more">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        My Recipes
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li id="checkbox">
         <label class="checkbox">
            Recipes I've Created
            <%= check_box_tag("filterrific[owns]", current_user.id) %>
          </label>
          <label class="checkbox">
            Recipes I'm Following
            <%= check_box_tag("filterrific[following]", current_user.id) %>
          </label>
          <label class="checkbox">
            Recipes I've Cooked
            <%= check_box_tag("filterrific[cooked]", current_user.id) %>
          </label>
        </li>
      </ul>
    </div>

    <div class="dropdown total_time">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Duration
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li id="checkbox">
          <% @filterrific.select_options[:total_time].each do |c| %>
            <label class="checkbox">
              <%= c[0] %>
              <%= radio_button_tag("filterrific[total_time][]",c[1]) %>
            </label>
          <% end %>
        </li>
      </ul>
    </div> 

  </div> 



  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

  <div class='filtering-tags'>
    <!-- %= render(
      partial: 'filter_form',
      locals: {filtering_by: params[:filterrific] }
    ) %> -->
  </div>

<script>
  $('.custom-dropdown li').on('click', function(event){
    $(this).toggleClass('active');
    var index = $(this).index();
    $('#filterrific_sorted_by')[0].selectedIndex = index;
    $('#filterrific_sorted_by').trigger('change');
    $('.selected-sort-by span').text($(this).text())
    // return false;
  });

  $('#dd').on('click', function(){
    $(this).toggleClass('active');
    return false;
  });

  $(document).click(function(){
    $('#dd').removeClass('active');
  });
</script>