<!-- % if calendar %> -->
  <!-- <div class="col-md-3 sidebar" id="sidebar-skinny"> -->
<!-- % else %> -->
  <div class="sidebar">
<!-- % end %> -->
    <div class="header">
      <h2 class="my-foods-text">
        My F<span class="my-foods-text-oo">oo</span>ds
      </h2>
      <%= link_to "", "#", :class => "glyphicon glyphicon-cog" %>
    </div>

    <div class="meal-selection">
       <button type="button" id="snacks">
          Snacks
          <span class="badge"><%= snacks.count %></span>
       </button>
      <div class="selection" id="snacks-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% snacks.each do |r| %>
                <%= link_to recipe_path(r) do %>
                  <div class='fc-event <%= r.get_friendly_name %>id-<%= r.id %> draggable' id="in-list" data="<%= r.get_friendly_name %>id-<%= r.id %>" data-event='1' style='background-image: url("<%= r.retrieve_pic %>")'><span class="recipe-title"><%= truncate(r.name, length: 10) %></span>
                    <% unless current_user.owns?(r) %>
                      <span class="glyphicon glyphicon-remove remove" data='<%= r.id %>'></span>
                    <% end %>
                    </div>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="sidedish">
          Side Dishes
          <span class="badge"><%= side_dishes.count %></span>
       </button>
      <div class="selection" id="sidedish-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% side_dishes.each do |r| %>
                <%= link_to recipe_path(r) do %>
                  <div class='fc-event <%= r.get_friendly_name %>id-<%= r.id %> draggable' id="in-list" data="<%= r.get_friendly_name %>id-<%= r.id %>" data-event='1' style='background-image: url("<%= r.retrieve_pic %>")'><span class="recipe-title"><%= truncate(r.name, length: 10) %></span>
                    <% unless current_user.owns?(r) %>
                      <span class="glyphicon glyphicon-remove remove" data='<%= r.id %>'></span>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="maindish">
          Main Dishes
          <span class="badge"><%= main_dishes.count %></span>
       </button>
      <div class="selection" id="maindish-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% main_dishes.each do |r| %>
                <%= link_to recipe_path(r) do %>
                  <div class='fc-event <%= r.get_friendly_name %>id-<%= r.id %> draggable' id="in-list" data="<%= r.get_friendly_name %>id-<%= r.id %>" data-event='1' style='background-image: url("<%= r.retrieve_pic %>")'><span class="recipe-title"><%= truncate(r.name, length: 10) %></span>
                    <% unless current_user.owns?(r) %>
                      <span class="glyphicon glyphicon-remove remove" data='<%= r.id %>'></span>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="dessert">
          Desserts
          <span class="badge"><%= desserts.count %></span>
       </button>
      <div class="selection" id="dessert-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% desserts.each do |r| %>
                <%= link_to recipe_path(r) do %>
                  <div class='fc-event <%= r.get_friendly_name %>id-<%= r.id %> draggable' id="in-list" data="<%= r.get_friendly_name %>id-<%= r.id %>" data-event='1' style='background-image: url("<%= r.retrieve_pic %>")'><span class="recipe-title"><%= truncate(r.name, length: 10) %></span>
                    <% unless current_user.owns?(r) %>
                      <span class="glyphicon glyphicon-remove remove" data='<%= r.id %>'></span>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="drink">
          Drinks
          <span class="badge"><%= drinks.count %></span>
       </button>
      <div class="selection" id="drink-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% drinks.each do |r| %>
                <%= link_to recipe_path(r) do %>
                  <div class='fc-event <%= r.get_friendly_name %>id-<%= r.id %> draggable' id="in-list" data="<%= r.get_friendly_name %>id-<%= r.id %>" data-event='1' style='background-image: url("<%= r.retrieve_pic %>")'><span class="recipe-title"><%= truncate(r.name, length: 10) %></span>
                    <% unless current_user.owns?(r) %>
                      <span class="glyphicon glyphicon-remove remove" data='<%= r.id %>'></span>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
      </div>

      <% if dragNdrop %>
        <div class='dragNdrop'>Drag recipes onto your planner <div>&#8618;</div></div>
      <% end %>

    </div>
  </div>

<!-- SECRET BUTTON for live-reloading sidebar magic -->
<!-- %= link_to 'Refresh recipes', '/recipes', id: 'refresh', style: 'display: none;', remote: true %> -->
<!-- %= link_to 'Refresh recipes', action: :sidebar, remote: true, id: 'refresh', style: 'display: none;' %> -->

<script>

$(document).ready(function(){

  $('button').click(function() {
      // var contentHeight = $('.meal-selection').outerHeight() + 80;
      // var sidebarHeight = $('.sidebar').outerHeight()

    // if (contentHeight > sidebarHeight) {
    //   $('.sidebar').css({
    //     'height': contentHeight + 'px',
    //     'max-height': contentHeight + 'px'
    //   });
    //   $('#sidebar-col').css({
    //     'height': contentHeight + 'px',
    //     'max-height': contentHeight + 'px'
    //   });
    //   $('.sidebar-content').css({
    //     'min-height': contentHeight + 'px'
    //   });
    //   resetSidebar();
    // }
    // else {
    //   if(contentHeight < $(window).height()){
    //     $('.sidebar').css({
    //       'height': '100vh',
    //       'max-height': '100vh'
    //     });
    //     $('#sidebar-col').css({
    //       'height': '100vh',
    //       'max-height': '100vh'
    //     });
    //     $('.sidebar-content').css({
    //       'min-height': ''
    //     });
    //     resetSidebar();
    //   }
    // }
  });


    // overflow-y on My Foods view
    // if( $('#recipes-col').length)
    //   $('.sidebar').css('overflow-y', 'scroll');

    $('#snacks').click(function() {
    if ( $('#snacks-selection').css('display') == 'none' )
      $('#snacks-selection').css('display','block');
    else
      $('#snacks-selection').css('display','none');
  });

  $('#sidedish').click(function() {
    if ( $('#sidedish-selection').css('display') == 'none' )
      $('#sidedish-selection').css('display','block');
    else
      $('#sidedish-selection').css('display','none');
  });

  $('#maindish').click(function() {
    if ( $('#maindish-selection').css('display') == 'none' )
      $('#maindish-selection').css('display','block');
    else
      $('#maindish-selection').css('display','none');
  });

  $('#dessert').click(function() {
    if ( $('#dessert-selection').css('display') == 'none' )
      $('#dessert-selection').css('display','block');
    else
      $('#dessert-selection').css('display','none');
  });

  $('#drink').click(function() {
    if ( $('#drink-selection').css('display') == 'none' )
      $('#drink-selection').css('display','block');
    else
      $('#drink-selection').css('display','none');
  });



  $('button').click(function() {

    // make selection scrollable
    // var matchingSelection = $('#' + $(this).attr('id') + '-selection');
    // if(matchingSelection.height() > $(window).height()*0.6)
    //     matchingSelection.addClass('scrollable');

    var containerHeight = $('.meal-selection').outerHeight() + 80;
    var sidebarHeight = $('.sidebar').outerHeight()

    if (containerHeight > sidebarHeight) {
      // $('.sidebar').css('height', containerHeight + 'px');
      // $('.sidebar').css('overflow', 'scroll');
    }
    else {
       // $('.sidebar').css('overflow', 'auto');
    }
    if( $('#recipes-col').length){
          var containerHeight = $('.recipe-col').outerHeight() + 100;
          var sidebarHeight = $('.sidebar').outerHeight()

      // if (containerHeight > sidebarHeight)
      //     $('.sidebar').css('overflow', 'scroll');
      //   else
      //     $('.sidebar').css('overflow', 'auto');
    }
  });

      // $(document).on('click','.remove',function(e){
        $('.remove').on('click', function(e){
          e.stopPropagation();

          $this = $(this)
          recipe_id = $this.attr('data');
          $(this).closest('.fc-event').remove();
          $.ajax({//ajax call for questions
                    type:'DELETE',
                    data: {id: recipe_id},
                    url:"/relationships/" + recipe_id,
                
                    success:function (response) {
                        var spatula = $('#recipes-col').find("[data='" + recipe_id + "']");
                        spatula.addClass("spatula-unselected");
                        spatula.attr('id', 'follow');
                        spatula.removeClass("spatula-selected");
                      updateMyFoods();
                    }
                  });//end ajax call
          return false;
      });

      var newIndex = parseInt('<%= new_category %>');
      newIndex -= 1;
      if(newIndex){
        // $('.badge').eq(newIndex).animate({
        //   color: "#819800"
        // }, 600, function(){
        //   $('.badge').animate({
        //     color: "white"
        //   }, 600);
        // });
        $('.meal-selection button').eq(newIndex).animate({
          color: "#819800"
        }, 600, function(){
          $('.meal-selection button').animate({
            color: "#ababab"
          }, 600);
        });
        $('.badge').eq(newIndex).animate({
          'margin-right': '-8px'
        }, 300, function(){
          $('.badge').animate({
            'margin-right': '0px'
          }, 300);
        });
      }

});
</script>