<div class='recipe-form'>
  <div class="row">
    <div class="col-md-12 recipe-form-header">
      <h1>EDIT</h1>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-12 col-md-9 col-center new_recipe-col">
      
      <div class="row upload-photo"></div>

      <div class="row food-type"></div>

      <%= form_for @recipe, html: {class: "form-horizontal recipe-form", multipart: true } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <!-- <= devise_error_messages! %> -->

        <fieldset id="recipe-meta">
          <ol class='top-list'>

            <div class="row upload-photo">
              <div class="upload-photo">
                <li class="control-group">
                  <div class="controls"><%= f.file_field :photo_url, accept: 'image/jpeg,image/gif,image/png' %></div>
                  <%= f.label :photo_url, "Upload photo", class: "control-label" %>
                </li>
              </div>
            </div>

            <div class="row">
              <li class="control-group food-type">
                <%= f.label :meal_type, "Food type:", class: "control-label" %>
                <div class="controls">
                  <div class='radio-container'>
                    <%= f.radio_button(:meal_type, 1) %>
                    <%= f.label(:meal_type_snack, "Snack") %>
                  </div>
                  <div class='radio-container'>
                    <%= f.radio_button(:meal_type, 2) %>
                    <%= f.label(:meal_type_side_dish, "Side Dish") %>
                  </div>
                  <div class='radio-container'>
                    <%= f.radio_button(:meal_type, 3) %>
                    <%= f.label(:meal_type_main_dish, "Main Dish") %>
                  </div>
                  <div class='radio-container'>
                    <%= f.radio_button(:meal_type, 4) %>
                    <%= f.label(:meal_type_dessert, "Dessert") %>
                  </div>
                  <div class='radio-container'>
                    <%= f.radio_button(:meal_type, 5) %>
                    <%= f.label(:meal_type_drink, "Drink") %>
                  </div>
                  <!-- <div class='radio-container'>
                    %= f.radio_button(:meal_type, 6) %>
                    %= f.label(:meal_type_appetizer, "Appetizer") %>
                  </div> -->
                </div>
              </li>
            </div>

            <div class="row">
               <h2>MAIN INFORMATION</h2>

              <li class="control-group">
                <%= f.label :name, "Meal name*:", class: "control-label" %>
                <div class="controls"><%= f.text_field :name, required: true %></div>
              </li>

              <li class="control-group">
                <%= f.label :description, "Description*:", class: "control-label" %>
                <div class="controls"><%= f.text_area :description, required: true %></div>
              </li>

              <li class="control-group">
                <%= f.label :servings, "Servings*:", class: "control-label" %>
                <div class="controls"><%= f.text_field :servings, class: 'small', required: true %></div>
              </li>

              <li>
                <label class="control-label" for="">Ingredients*:</label>
                <fieldset id="recipe-ingredients">
                  <ol>
                    <%= f.fields_for :quantities do |quantity| %>
                      <%= render 'quantity_fields', f: quantity %>
                    <% end %>
                  </ol>
                  <%= link_to_add_association 'Add ingredient', f, :quantities, 'data-association-insertion-node' => "#recipe-ingredients ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|quantity| quantity.build_ingredient; quantity } %>
                </fieldset>
              </li>

              <li>
                <label class="control-label" for="recipe_instructions">Instructions*:</label>
                <fieldset id="recipe-instructions">
                  <ol>
                    <%= f.fields_for :instructions do |instruction| %>
                      <%= render 'instruction_fields', f: instruction %>
                    <% end %>
                  </ol>
                  <%= link_to_add_association 'Add step', f, :instructions, 'data-association-insertion-node' => "#recipe-instructions ol", 'data-association-insertion-method' => "append" %>
                </fieldset>
              </li>
            </div>

            <div class="row">
              <h2>MORE DETAILS (OPTIONAL)</h2>

              <li class="control-group col-md-4 inline">
                <%= f.label :prep_time, "Preparation Time:", class: "control-label" %>
                <div class="controls"><%= f.text_field :prep_time, class: 'small' %> <span>min</span></div>
              </li>

              <li class="control-group col-md-4 inline center">
                <%= f.label :cook_time, "Cook Time:", class: "control-label" %>
                <div class="controls"><%= f.text_field :cook_time, class: 'small' %> <span>min</span></div>
              </li>

              <li class="control-group col-md-4 inline">
                <%= f.label :difficulty, "Difficulty:", class: "control-label" %>
                <div class="controls"><%= f.select(:difficulty, options_for_select([['Easy', 1], ['Moderate', 2], ["Difficult", 3]], selected: f.object.difficulty)) %></div>
              </li>

              <li class="control-group">
                <%= f.label :category, "Category:", class: "control-label" %>
                <div class="controls"><%= f.select(:category, options_for_select([['Mediterranean', 1], ['Chinese', 2], ["Mexican", 3]], selected: f.object.category)) %></div>
              </li>

              <li class="control-group">
                <%= f.label :cookware, "Cookware:", class: "control-label" %>
                <div class="controls"><%= f.text_area :cookware %></div>
              </li>

              <li class="control-group">
                <%= f.label :website_url, "Website url:", class: "control-label" %>
                <div class="controls"><%= f.text_field :website_url %></div>
              </li>

            </div>
          </ol>
        </fieldset>

        <%= f.submit "Save Recipe" %>
        <div class="clear" style="height: 60px;"></div>

      <% end %>
    </div>
  </div>

  <script>
    $('#recipe_picture').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
  </script>

</div>