<div class="row recipes-page">
  <div class="col-md-8 col-center">
  	

    <%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'recipes/list',
  locals: { recipes: @recipes }
) %>



  </div>
</div>


<script>

	$(document).ready(function() {
		console.log("loaded");
    	$(document).on('click','#follow',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'POST',
                  data: {id: recipe_id},
                  url:'/relationships',
              
                  success:function (response) {
                  	$this.addClass("glyphicon-remove")
                    $this.attr('id', 'unfollow');
                    $this.removeClass("glyphicon-plus")
                  }
                  
                });//end ajax call
		});

		$(document).on('click','#unfollow',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'DELETE',
                  data: {id: recipe_id},
                  url:"/relationships/" + recipe_id,
              
                  success:function (response) {
                  	$this.addClass("glyphicon-plus")
                    $this.attr('id', 'follow');
                    $this.removeClass("glyphicon-remove")
                  }
                  
                });//end ajax call
		});
});
</script>