<%= render 'layouts/recipe_css_variables' %>
<div class="row">
  <div class="col-md-12 recipe-page-header">
    <h1>What do you <i>stella</i> today?</h1>
  </div>
</div>

<div class= "row">
  <div class="col-md-12 filter-bar">
    <%= render 'filter_form' %>
  </div>
</div>

<div class="row recipes-page">

  <div id='sidebar-col' class='col-sm-3'>
  <%= render(
    partial: 'recipes/sidebar',
    locals: {
      snacks: @snacks,
      side_dishes: @side_dishes,
      main_dishes: @main_dishes,
      desserts: @desserts,
      drinks: @drinks,
      dragNdrop: false,
      expanded: @expanded
    }
  ) %>
  </div>

<div style='display:none' id='refresh-sidebar'>
  <%= link_to 'Refresh recipes', action: :sidebar, remote: true, id: 'doesntmatter' %>
</div>

  <div class="col-sm-9 sidebar-content" id="recipes-col">
    <%= render(
      partial: 'recipes/list',
      locals: { recipes: @recipes }
    ) %>
  </div>

</div>


<script>

  function resetSidebar(){
    $('#sidebar-col').trigger('detach.ScrollToFixed');
    $('#sidebar-col').scrollToFixed({
      limit: $('.footer').offset().top - $('#sidebar-col').height(),
      spacerClass: 'sidebar-spacer'
    });
    // var contentHeight = $('.footer').offset().top - $('#recipes-col').offset().top;
    // if( contentHeight < $(window).height()){
    //   $('#sidebar-col').css('height', contentHeight + 'px');
    //   $('.sidebar').css('height', contentHeight + 'px');
    // }
  }

  function updateMyFoods(){
    var expandedSections = [];
      $('.selection').each(function(){
      if( $(this).css('display') == 'block')
        expandedSections.push('true');
      else
        expandedSections.push('false');
    });

    var dataString = 'expanded%5B%5D=' + expandedSections[0] + '&expanded%5B%5D=' + expandedSections[1] + '&expanded%5B%5D=' + expandedSections[2] + '&expanded%5B%5D=' + expandedSections[3] + '&expanded%5B%5D=' + expandedSections[4];
   
    $('#refresh-sidebar>a').attr('data-params', dataString);
    $('#refresh-sidebar>a').click();
    resetSidebar();
  }

  $(document).ready(function() {
    
      resetSidebar();

      $(window).resize( function(e){
        resetSidebar();
      });

      $('.sidebar').scroll(function(e){
        e.stopPropagation();
        // resetSidebar();
      })

    	$(document).on('click','#follow',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'POST',
                  data: {id: recipe_id},
                  url:'/relationships',

                  success:function (response) {
                    console.log('done');
                  	$this.addClass("spatula-selected");
                    $this.attr('id', 'unfollow');
                    $this.removeClass("spatula-unselected");
                    updateMyFoods();
                  }
                });//end ajax call
		});

		$(document).on('click','#unfollow',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'DELETE',
                  data: {id: recipe_id},
                  url:"/relationships/" + recipe_id,
              
                  success:function (response) {
                  	$this.addClass("spatula-unselected");
                    $this.attr('id', 'follow');
                    $this.removeClass("spatula-selected");
                    updateMyFoods();
                  }
                });//end ajax call
		});

    //resizes boxes based on screen width;

    wi = $(window).width();
    win = wi * (3/4);
    box_size = win * (1/4);

    console.log(wi);
    $('ox').css({
                    'height': box_size + 'px',
                    'width': box_size + 'px'
                  });
     $('.dails').css({
                    //adding height for the "details" div containing recipe information
                    'height': box_size - 40 + 'px',
                    'width': box_size + 'px'
                  });
});
</script>