<%= render 'layouts/recipe_css_variables' %>
<div class="row">
  <div class="col-md-12 recipe-page-header">
    <h1>What do you <i>stella</i> today?</h1>
  </div>
</div>

<div class= "row">
  <div class="col-md-12 filter-bar">
    <%= render 'filter_form' %>
  </div>
</div>

<div class="row recipes-page">

  <!-- <div id='sidebar-col' class='col-sm-3'> -->
  <%= render(
    partial: 'layouts/recipe_sidebar',
    locals: {
      snacks: @snacks,
      side_dishes: @side_dishes,
      main_dishes: @main_dishes,
      desserts: @desserts,
      drinks: @drinks,
      dragNdrop: false
    }
  ) %>
  <!-- </div> -->

  <div class="col-sm-9" id="recipes-col">
    <%= render(
      partial: 'recipes/list',
      locals: { recipes: @recipes }
    ) %>
  </div>

</div>


<script>

  function resetSidebar(){
    $('.sidebar').trigger('detach.ScrollToFixed');
    $('.sidebar').scrollToFixed({
      limit: $('.footer').offset().top - $('.sidebar').height(),
      spacerClass: 'sidebar-spacer'
    });
  }

  $(document).ready(function() {
    
      resetSidebar();

      $(window).resize( function(e){
        resetSidebar();
      });

      //$(document).on('click','.dropdown-toggle',function(){
       // $('.recipes-page').toggleClass("padded")
       // if ( $('.recipes-page').css('padding-top') == '5.7em' )
       //   $('.recipes-page').css('padding-top','0');
       // else
       //   $('.recipes-page').css('padding-top','5.7em');
      //});

      // setInterval(function(){
      //   $.ajax('/recipes');
      //   }, 8000);

    	$(document).on('click','#follow',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'POST',
                  data: {id: recipe_id},
                  url:'/relationships',
              
                  success:function (response) {
                  	$this.addClass("spatula-selected");
                    $this.attr('id', 'unfollow');
                    $this.removeClass("spatula-unselected");
                    $.ajax('recipes');
                    <% following = escape_javascript(
                      render(partial: 'layouts/recipe_sidebar',
                        locals: {
                          snacks: @snacks,
                            side_dishes: @side_dishes,
                            main_dishes: @main_dishes,
                            desserts: @desserts,
                            drinks: @drinks,
                            dragNdrop: false
                         })
                    ) %>
                    $("#sidebar-col").html("<%= following %>");
                    // $.ajax({
                    //   url: "/recipes"
                    // });
                    // $('#sidebar-col').load('layouts/_recipe_sidebar.html.erb');
                  }
                  
                });//end ajax call
		});

		$(document).on('click','#unfollow',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'DELETE',
                  data: {id: recipe_id},
                  url:"/relationships/" + recipe_id,
              
                  success:function (response) {
                  	$this.addClass("spatula-unselected");
                    $this.attr('id', 'follow');
                    $this.removeClass("spatula-selected");
                    // $('#sidebar-col').load('/recipes/index');
                  }
                  
                });//end ajax call
		});

    //resizes boxes based on screen width;

    wi = $(window).width();
    win = wi * (3/4);
    box_size = win * (1/4);

    console.log(wi);
    $('ox').css({
                    'height': box_size + 'px',
                    'width': box_size + 'px'
                  });
     $('.dails').css({
                    //adding height for the "details" div containing recipe information
                    'height': box_size - 40 + 'px',
                    'width': box_size + 'px'
                  });
});
</script>