<div class="row">
	<div class="col-md-8 col-center">
    <%= form_for @recipe, html: {class: "form-horizontal", multipart: true } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= devise_error_messages! %>
      <fieldset id="recipe-meta">
        <ol style="list-style-type:none">
          <li class="control-group">
            <%= f.label :name, "Recipe Name", class: "control-label" %>
            <div class="controls"><%= f.text_field :name %></div>
          </li>

          <li class="control-group">
            <%= f.label :photo_url, "Upload a picture", class: "control-label" %>
            <div class="controls"><%= f.file_field :photo_url, accept: 'image/jpeg,image/gif,image/png' %></div>
          </li>

          <li class="control-group">
            <%= f.label :description, "Description", class: "control-label" %>
            <div class="controls"><%= f.text_area :description %></div>
          </li>

          <li class="control-group">
            <%= f.label :category, "Category", class: "control-label" %>
            <div class="controls"><%= f.select(:category, options_for_select([['Mediterranean', 1], ['Chinese', 2], ["Mexican", 3]])) %></div>
          </li>

          <li class="control-group">
            <%= f.label :instructions, "Instructions", class: "control-label" %>
            <div class="controls"><%= f.text_area :instructions %></div>
          </li>
        </ol>
      </fieldset>

      <fieldset id="recipe-ingredients">
        <ol>
          <%= f.fields_for :quantities do |quantity| %>
            <%= render 'quantity_fields', f: quantity %>
          <% end %>
        </ol>
        <%= link_to_add_association 'add ingredient', f, :quantities, 'data-association-insertion-node' => "#recipe-ingredients ol", 'data-association-insertion-method' => "append", :wrap_object => Proc.new {|quantity| quantity.build_ingredient; quantity } %>
      </fieldset>

      <%= f.submit %>
    <% end %>
  </div>
</div>

<script>
  $('#recipe_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>


