<div class="row recipe-title cushioned" id="nomargin">
	<!-- <div class="col-md-4"> -->
		<h1><%= @recipe.name.upcase %></h1>

		<div class="actions">

		  <% if current_user.owns?(@recipe) %>
		    <!-- %= link_to "Delete", @recipe, method: :delete, :class => "btn", -->
                                  <!-- data: { confirm: "Are you sure?" } %> -->
		    <%= link_to "Edit", edit_recipe_path(@recipe), :class => "btn" %>
		   <% end %>

	    </div>
	<!-- </div> -->
</div>

<div class="row">
	<div class="col-sm-12 col-md-9 col-center recipe-photos recipe-content">
			<div class="row">
				<div class="col-md-5 col-sm-12 selected-col">
					<div class="row photo">
						<%= image_tag @recipe.retrieve_pic, id: "selected-photo" %>
					</div>
					<div class="row" id="selected-panel">
						<div class="menu">
							<div>Ingredients</div>
							<div>Prep time</div>
							<div>Cook time</div>
							<div>Stellas</div>
						</div>
						<div class="menu-info">
							<div><%= @recipe.ingredients.count %></div>
							<div><%= @recipe.get_friendly_time('prep')[0] %><br><span><%= @recipe.get_friendly_time('prep')[1] %></span></div>
							<div><%= @recipe.get_friendly_time('cook')[0] %><br><span><%= @recipe.get_friendly_time('cook')[1] %></span></div>
							<div class="reviews">
								<%= rating_for @recipe, "review", disable_after_rate: false %>
								<span>Review</span>
							</div>
						</div>
					</div>
					
					<div class="follow">
						<% if !current_user.owns?(@recipe) %>
							<% if current_user.following?(@recipe) %>
						    	<!-- % link_to "Alter Recipe", new_recipe_path(:recipe => @recipe), :id => "alter" %> -->
						    	<span data="<%= @recipe.id %>" id="unfollow">
						    		<div class="spatula"></div>Remove from my foods
						    	</span> 
					  		<% else %>
						    	<!-- % link_to "Alter Recipe", new_recipe_path(:recipe => @recipe), :id => "alter" %> -->
						    	<span data="<%= @recipe.id %>" id="follow">
						    		<div class="spatula"></div>Add to my foods
						    	</span> 
						  	<% end %>
						<% end %>
					</div>

					<!-- <div class="share">Share</div> -->

					<div class="cooked">
						<% if current_user.cooked?(@recipe) %>
						    <span data="<%= @recipe.id %>" id="cooked_true">
						    	I've cooked this <span>&#9745;</span>
						    </span> 
						<% else %>
							<span data="<%= @recipe.id %>" id="cooked_false">
								I've cooked this <span>&#9744;</span>
							</span> 
						<% end %>
					</div>

				</div>
				<div class="col-md-2 col-sm-12 side-col">
					<div>
						<h4>Food type</h4>	
						<%= @meal_type %>
					</div>
					<div>
						<h4>Difficulty</h4>
						<%= @difficulty %>
					</div>
					<div>
						<h4>Cookware</h4>
						<%= @recipe.cookware %>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div class="col-md-5 col-sm-12 others-col">
					<div class="row">
						<div class="col-xs-12">Photos by others</div>
					</div>
					<div class="slider-controls">
						<div class="up inactive">&#9650;</div>
						<div class="down <%= 'inactive' if @others_photos.length < 9 %>">&#9660;</div>
					</div>
					<div class="row vertical-wrapper">
						<div class="col-xs-12" style="top: 0">
							<div class="slider-vertical" style="top: 0">
								<% @others_photos.each do |photo| %>
									<div class="others-photo">
										<%= image_tag photo.photo_url %>
									</div>
								<% end %>
								<% if @others_photos.length < 9 %>
									<% (9-@others_photos.length).times do |i| %>
										<div class="others-photo blank"></div>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
					<div class="row upload">
				
						<div class="upload-bttn">Upload <span class="glyphicon glyphicon-camera" aria-hidden="true" style="font-size: 1.2em;"></span></div>
						
						<div style="display: none;">
							<%= form_for @recipe, :html => {:multipart => true} do |f| %>
							  <%= render 'shared/error_messages', object: f.object %>
							  	<%= f.hidden_field :name %>
								<div class="controls">
									<%= file_field_tag :others_photo_url, accept: 'image/jpeg,image/gif,image/png', id: 'upload_photo' %>
								</div>
								<!-- %= f.submit 'Upload' %> -->
							<% end %>
						</div>

					</div>
				</div>
			</div>

		<div class="row recipe-info">
			<div class="col-md-4 ingredients">
				<div class='col-inner'>
					<h3>Ingredients</h3>
					<span class="servings">Servings: <%= @recipe.servings ? @recipe.servings : 1 %></span>
					<ol>
						<% if @recipe.user_id == 0 %>
							<% @recipe.quantities.order(ounces: :desc).each do |q| %>
							    <li>
							      <%= q.detail %>
							</li>
							 <% end %>
						<!-- % elsif @recipe.user_id == -1 %> -->
						<% else %>
							<% @recipe.ingredients.each do |i| %>
							    <li>
							    <% i.quantities.where(recipe_id: @recipe.id).each do |q| %>
							      <%= q.amount %>
							      <%= ' ' if q.unit != '' %>
							      <%= q.get_unit(q.unit, q.amount) %>
							      <%= ' ' %>
							    <% end %>
							    <%= i.name %>
							</li>
							<% end %>
						<% end %>
					</ol>
				</div>
			</div>
			<div class="col-md-8 instructions">
				<div class="col-inner">
					<h3>Description</h3>
					<div><%= @recipe.description %></div>
					<h3>Instructions</h3>
					<div>
						<ol>
							<% @recipe.instructions.order(:order).each do |i| %>
							    <li><%= i.description %></li>
							 <% end %>
						</ol>
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
<!-- </div> -->

	<div class="row recipe-similar cushioned">
		<div class="col-md-12">
			<div id='similar-title'>Similar recipes</div>
			<span class="glyphicon glyphicon-refresh spinning spinner"></span>
		</div>
		<div class="slider-controls">
			<div class="back inactive">&#8249;</div>
			<div class="next">&#8250;</div>
		</div>
		<div class="col-md-12 horizontal-wrapper">
			<div class="slider-horizontal" style="left: 0%">
			</div>

		</div>
	</div>

	<div class="row cushioned">
		<!-- <div class="container"> -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-xs-12 col-md-8 recipe-reviews" id='recipe-reviews'>
					<h3>REVIEWS</h3>
					<div class="row">
						<%= commontator_thread(@recipe) %>
						<!-- <div class="user">
							<div class="profile-pic"></div>
							<span>Diego says:</span>
						</div>
						<div class="review">
							Post reviews of your friends' recipes! Coming soon!
						</div> -->
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		<!-- </div> -->

	</div>

</div>

<script>

	$(document).ready(function() {
		console.log("loaded");

		getRecommendedRecipes()

		function getRecommendedRecipes() {
			data = {recipe_id: gon.recipe_id}
			$.ajax({//ajax call for questions
                  type:'GET',
                  data: data,
                  url: "/recipes/"+gon.recipe_id+"/get_recommended_recipes",
            });//end ajax call
		}

    	$(document).on('click','#follow',function(e){
    		e.preventDefault();
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'POST',
                  data: {id: recipe_id},
                  url:'/relationships',
              
                  success:function (response) {
                  	$this.html("<div class='spatula'></div>Remove from my foods")
                    $this.attr('id', 'unfollow');
                    $this.removeClass("glyphicon-plus")
                  }
                  
                });//end ajax call
		});

		$(document).on('click','#unfollow',function(e){
			e.preventDefault();
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'DELETE',
                  data: {id: recipe_id},
                  url:"/relationships/" + recipe_id,
              
                  success:function (response) {
                  	$this.html("<div class='spatula'></div>Add to my foods")
                    $this.attr('id', 'follow');
                  }
                  
                });//end ajax call
		});


    	$(document).on('click','#cooked_false',function(e){
    		e.preventDefault();
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'POST',
                  data: {id: recipe_id},
                  url:'/cookeds',
              
                  success:function (response) {
                  	$this.html("I've cooked this <span>&#9745;</span>");
                    $this.attr('id', 'cooked_true');
                    // $this.removeClass("glyphicon-plus")
                  }
                  
                });//end ajax call
		});

		$(document).on('click','#cooked_true',function(e){
			e.preventDefault();
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		$.ajax({//ajax call for questions
                  type:'DELETE',
                  data: {id: recipe_id},
                  url:"/cookeds/" + recipe_id,
              
                  success:function (response) {
                  	$this.html("I've cooked this <span>&#9744;</span>");
                    $this.attr('id', 'cooked_false');
                  }
                  
                });//end ajax call
		});


		// left/right on similar recipes
		$(document).on('click','.next:not(.inactive)',function(){
			var left_perc = parseInt($('.slider-horizontal')[0].style.left);
			$('.slider-horizontal').animate({left: (left_perc-100) + '%'},
				function(){
					$('.back').removeClass('inactive');
					var left_perc = parseInt($('.slider-horizontal')[0].style.left);
					if(left_perc <= -300)
						$('.next').addClass('inactive');
				}
			);
		});

		$(document).on('click','.back:not(.inactive)',function(){
			var left_perc = parseInt($('.slider-horizontal')[0].style.left);
			$('.slider-horizontal').animate({left: (left_perc+100) + '%'},
				function(){
					$('.next').removeClass('inactive');
					var left_perc = parseInt($('.slider-horizontal')[0].style.left);
					if(left_perc > -100)
						$('.back').addClass('inactive');
				}
			);
		});

		$(document).on('click','.down:not(.inactive)',function(){
			var slider = $('.slider-vertical').parent();
			var photoCount = $('.slider-vertical').children().length;
			var top_perc = parseInt(slider[0].style.top);
			var pageCount = Math.ceil(photoCount/9);	// 9 phots per page
			var max_perc = (pageCount-1) * 100;
			console.log(max_perc);
			slider.animate({top: (top_perc-100) + '%'},
				function(){
					$('.up').removeClass('inactive');
					var top_perc = parseInt(slider[0].style.top);
					if(top_perc <= -max_perc)
						$('.down').addClass('inactive');
				}
			);
		});

		$(document).on('click','.up:not(.inactive)',function(){
			var slider = $('.slider-vertical').parent();
			var top_perc = parseInt(slider[0].style.top);
			slider.animate({top: (top_perc+100) + '%'},
				function(){
					$('.down').removeClass('inactive');
					var top_perc = parseInt(slider[0].style.top);
					if(top_perc >= 0)
						$('.up').addClass('inactive');
				}
			);
		});

		// Streamlined photo_upload form
		$(document).on('click','.upload-bttn',function(){
			$('#upload_photo').click();
		});
		$("input[name='others_photo_url']").change(function() { this.form.submit(); });

		$(document).on('click','.others-photo',function(){
			var selected_url = $(this).find('img').attr('src');
			var selected_photo = $('#selected-photo');
			selected_photo.attr('src', selected_url);
			var imgClass = (selected_photo.width/selected_photo.height > 1) ? 'wide' : 'tall';
			selected_photo.addClass(imgClass);
		});


});
</script>