
<div class="row recipe-title cushioned" id="nomargin">
	<!-- <div class="col-md-4"> -->
		<h1><%= @recipe.name.upcase %></h1>

		<div class="actions">

		  <% if current_user.owns?(@recipe) %>
		    <!-- %= link_to "Delete", @recipe, method: :delete, :class => "btn", -->
                                  <!-- data: { confirm: "Are you sure?" } %> -->
		    <%= link_to "Edit", edit_recipe_path(@recipe), :class => "btn" %>
		   <% end %>

	    </div>
	<!-- </div> -->
</div>

<div class="row">
	<div class="col-sm-12 col-md-9 col-center recipe-photos recipe-content">
			<div class="row">
				<div class="col-md-5 col-sm-12 selected-col">
					<div class="row photo">
						<%= image_tag @recipe.retrieve_pic, id: "selected-photo" %>
					</div>
					<div class="row" id="selected-panel">
						<div class="menu">
							<div>Ingredients</div>
							<div>Prep time</div>
							<div>Cook time</div>
							<div>Stellas</div>
						</div>
						<div class="menu-info">
							<div><%= @recipe.ingredients.count %></div>
							<div><%= @recipe.prep_time %><br><span>Minutes</span></div>
							<div><%= @recipe.cook_time %><br><span>Minutes</span></div>
							<div class="reviews">
								<%= rating_for @recipe, "review", disable_after_rate: false %>
								<span>Review</span>
							</div>
						</div>
					</div>
					
					<div class="follow">
						<% if !current_user.owns?(@recipe) %>
							<% if current_user.following?(@recipe) %>
						    	<!-- % link_to "Alter Recipe", new_recipe_path(:recipe => @recipe), :id => "alter" %> -->
						    	<span data="<%= @recipe.id %>" id="unfollow">
						    		<div class="spatula"></div>Remove from my foods
						    	</span> 
					  		<% else %>
						    	<!-- % link_to "Alter Recipe", new_recipe_path(:recipe => @recipe), :id => "alter" %> -->
						    	<span data="<%= @recipe.id %>" id="follow">
						    		<div class="spatula"></div>Add to my foods
						    	</span> 
						  	<% end %>
						<% end %>
					</div>

					<!-- <div class="share">Share</div> -->

					<div class="cooked">
						<% if current_user.cooked?(@recipe) %>
						    <span data="<%= @recipe.id %>" id="cooked_true">
						    	I've cooked this <span>&#9745;</span>
						    </span> 
						<% else %>
							<span data="<%= @recipe.id %>" id="cooked_false">
								I've cooked this <span>&#9744;</span>
							</span> 
						<% end %>
					</div>

				</div>
				<div class="col-md-2 col-sm-12 side-col">
					<div>
						<h4>Food type</h4>	
						<%= @meal_type %>
					</div>
					<div>
						<h4>Difficulty</h4>
						<%= @difficulty %>
					</div>
					<div>
						<h4>Cookware</h4>
						<%= @recipe.cookware %>
					</div>
					<div style="clear: both;"></div>
				</div>
				<div class="col-md-5 col-sm-12 others-col">
					<div class="row">
						<div class="col-md-12">Photos by others</div>
					</div>
					<div class="row slider-container">
						<div class="col-md-12">
							<div class="slider-controls">
								<div class="up">&#9650;</div>
								<div class="down">&#9660;</div>
							</div>
							<div class="slider-vertical">
								<% @others_photos.each do |photo| %>
									<%= image_tag photo.photo_url, class: "others-photo" %>
								<% end %>
							</div>
						</div>
					</div>
					<div class="row upload">
						<div class="col-md-12">Upload <span class="glyphicon glyphicon-camera" aria-hidden="true" style="font-size: 1.2em;"></span></div>
						<%= form_for @recipe, html: {class: "form-horizontal recipe-form", multipart: true } do |f| %>
						  <%= render 'shared/error_messages', object: f.object %>
						  	<%= f.fields_for :others_photos do |photo| %>
								<div class="controls">
									<!-- %= photo.file_field :photo_url, accept: 'image/jpeg,image/gif,image/png' %> -->
								</div>
							<% end %>
							<!-- %= f.submit %> -->
						<% end %>
					</div>
				</div>
			</div>

		<div class="row recipe-info">
			<div class="col-md-4 ingredients">
				<div class='col-inner'>
					<h3>Ingredients</h3>
					<span class="servings">Servings: <%= @recipe.servings ? @recipe.servings : 1 %></span>
					<ol>
						<% @recipe.ingredients.each do |i| %>
						    <li>
						    <% i.quantities.each do |q| %>
						      <%= q.amount %><%= ' ' if q.unit != '' %>
						      <%= q.get_unit(q.unit, q.amount) %><%= ' ' %>
						    <% end %>
						    <%= i.name %>
						</li>
						 <% end %>
					</ol>
				</div>
			</div>
			<div class="col-md-8 instructions">
				<div class="col-inner">
					<h3>Description</h3>
					<div><%= @recipe.description %></div>
					<h3>Instructions</h3>
					<div>
						<ol>
							<% @recipe.instructions.order(:order).each do |i| %>
							    <li><%= i.description %></li>
							 <% end %>
						</ol>
					</div>
				</div>
			</div>
		</div>
	<!-- </div> -->
<!-- </div> -->

	<div class="row recipe-similar cushioned">
		<div class="col-md-12">
			<div id='similar-title'>Similar recipes</div>
		</div>
		<div class="slider-controls">
			<div class="back inactive">&#8249;</div>
			<div class="next">&#8250;</div>
		</div>
		<div class="col-md-12 horizontal-wrapper">
			<div class="slider-horizontal" style="left: 0%">
				<% @recipe.similar_recipes.each do |recipe| %>
					<%= link_to recipe_path(recipe) do %>
						<div class="similar-recipe">
							<%= image_tag(recipe.retrieve_pic) %>
							<span><%= truncate(recipe.name, length: 55) %></span></span>
						</div>
					<% end %>
				 <% end %>
			</div>

		</div>
	</div>

	<div class="row cushioned">
		<!-- <div class="container"> -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-xs-12 col-md-8 recipe-reviews">
					<h3>REVIEWS</h3>
					<div class="row">
						<%= commontator_thread(@recipe) %>
						<!-- <div class="user">
							<div class="profile-pic"></div>
							<span>Diego says:</span>
						</div>
						<div class="review">
							Post reviews of your friends' recipes! Coming soon!
						</div> -->
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		<!-- </div> -->

	</div>

</div>

<script>

	$(document).ready(function() {
		console.log("loaded");
    	$(document).on('click','#follow',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'POST',
                  data: {id: recipe_id},
                  url:'/relationships',
              
                  success:function (response) {
                  	$this.html("<div class='spatula'></div>Remove from my foods")
                    $this.attr('id', 'unfollow');
                    $this.removeClass("glyphicon-plus")
                  }
                  
                });//end ajax call
		});

		$(document).on('click','#unfollow',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'DELETE',
                  data: {id: recipe_id},
                  url:"/relationships/" + recipe_id,
              
                  success:function (response) {
                  	$this.html("<div class='spatula'></div>Add to my foods")
                    $this.attr('id', 'follow');
                  }
                  
                });//end ajax call
		});


    	$(document).on('click','#cooked_false',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		console.log(recipe_id)
    		$.ajax({//ajax call for questions
                  type:'POST',
                  data: {id: recipe_id},
                  url:'/cookeds',
              
                  success:function (response) {
                  	$this.html("I've cooked this <span>&#9745;</span>");
                    $this.attr('id', 'cooked_true');
                    // $this.removeClass("glyphicon-plus")
                  }
                  
                });//end ajax call
		});

		$(document).on('click','#cooked_true',function(){
    		$this = $(this)
    		recipe_id = $this.attr('data')
    		$.ajax({//ajax call for questions
                  type:'DELETE',
                  data: {id: recipe_id},
                  url:"/cookeds/" + recipe_id,
              
                  success:function (response) {
                  	$this.html("I've cooked this <span>&#9744;</span>");
                    $this.attr('id', 'cooked_false');
                  }
                  
                });//end ajax call
		});

		$(document).on('click','.next:not(.inactive)',function(){
			var left_perc = parseInt($('.slider-horizontal')[0].style.left);
			$('.slider-horizontal').animate({left: (left_perc-100) + '%'},
				function(){
					$('.back').removeClass('inactive');
					var left_perc = parseInt($('.slider-horizontal')[0].style.left);
					if(left_perc <= -200)
						$('.next').addClass('inactive');
				}
			);
		});

		$(document).on('click','.back:not(.inactive)',function(){
			var left_perc = parseInt($('.slider-horizontal')[0].style.left);
			$('.slider-horizontal').animate({left: (left_perc+100) + '%'},
				function(){
					$('.next').removeClass('inactive');
					var left_perc = parseInt($('.slider-horizontal')[0].style.left);
					if(left_perc > -100)
						$('.back').addClass('inactive');
				}
			);
		});


});
</script>