<div class="row">
	<div class="col-md-4">
		<h1><%= @recipe.name %></h1>
		<%= image_tag @recipe.photo_url.url if @recipe.photo_url %>
	</div>
	<div>
		<ul class="ingredients-list">
			<% @recipe.ingredients.each do |i| %>
			    <li><%= i.name %>
			    <% i.quantities.each do |q| %>
			      <%= q.amount %>, <%= q.unit %>
			    <% end %>
			</li>
			 <% end %>
		</ul>
		<h2><%= @recipe.description %></h2>
		<h2><%= @recipe.instructions %></h2>
	</div>

</div>