<div class="col-md-9 calendar-container">

    <div class="calendar-title"><h1><%= day.strftime('%A - %B %-d, %Y') %></h1></div>

    <div class="event-trash" id="event-trash-<%= day.strftime('%Y-%m-%d') %>"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>


      <div class="calendar-box">          
        <div class="calendar-header">
          <h1>Breakfast</h1>
          <h1>Snack</h1>
          <h1>Lunch</h1>
          <h1>Snack</h1>
          <h1>Dinner</h1>
        </div>         
        <div id='calendar-<%= day.strftime('%Y-%m-%d') %>' class="calendar"></div>   
      </div>       


  </div>

  <script>

$(document).ready(function() {
  


            /* initialize the calendar1
            -----------------------------------------------------------------*/
            

            $('#calendar-<%= day.strftime('%Y-%m-%d') %>').fullCalendar({
              defaultView: 'timelineDay',
              // defaultView: 'agendaWeek',
              events: 'calendar.json',
              height: 350,
              scrollTime: '00:00',
              maxTime: '2:30',
              slotWidth: 130,
           //   slotDuration: 30,
              editable: true,
              forceEventDuration: true,
              defaultTimedEventDuration: '00:30:00',
              droppable: true, // this allows things to be dropped onto the calendar
              dragRevertDuration: 0,
              eventLimit: true, // allow "more" link when too many events
              eventDragStop: function( event ) {
                recipe_id = event.title.split('id-')[1];
                start_at = event.start.format();
                name = event.title;
                id = event.id;
  

                var data = {
                  event: {
                    start_at: start_at,
                    recipe_id: recipe_id,
                    name: name,
                    id: id
                  }
                };
              
                
                if (isElemOverDiv()) {
                  $('#calendar-<%= day.strftime('%Y-%m-%d') %>').fullCalendar('removeEvents', event._id);

                  $.ajax({//ajax call 
                  type:'DELETE',
                  data: data,
                  url:'/events/destroy',
              
                  success:function (response) {
                  }
                  
                });//end ajax call
                  var trashEl = $('#event-trash');
                  if (trashEl.hasClass("to-trash")) {
                      trashEl.removeClass("to-trash");
                  }
                } 
              },
              eventRender: function(event, element) {

                recipe_id = event.title.split('id-')[1];
                start_at = event.start.format();
                name = event.title;
                id = event.id;
  

                var data = {
                  event: {
                    start_at: start_at,
                    recipe_id: recipe_id,
                    name: name,
                    id: id
                  }
                };

                element.addClass(event.title);
                element.append('<span class="glyphicon glyphicon-remove"></span>');
                element.find(".glyphicon").click(function(e) {
                  // e.stopPropagation();
                  $('#calendar-<%= day.strftime('%Y-%m-%d')%>').fullCalendar('removeEvents', event._id);
                  $.ajax({//ajax call 
                    type:'DELETE',
                    data: data,
                    url:'/events/destroy',
                
                    success:function (response) {
                    }
                  
                  });//end ajax call
                 });

                // element.append('<a class="title" href="/recipes/' + event.recipe_id + '">' + event.recipe_name + '</a>');
                element.click(function(e){
                  if(event.recipe_id)
                    location.href = '/recipes/' + event.recipe_id;
                });
                

            },
            eventDrop: function(event) {

              recipe_id = event.title.split('id-')[1];

              var data = {
                  event: {
                    start_at: event.start.format(),
                    //end_at: event.start.add(30, 'minutes').format(),
                    recipe_id: recipe_id,
                    name: event.title,
                    id: event.id,
                    name: 'eventDrop'
                  }
                };


                $.ajax({//ajax call 
                  type:'PUT',
                  data: data,
                  url:'/events/update',
              
                  success:function (response) {
                    //$('#calendar').fullCalendar('renderEvent', event);
                    //$("#calendar").fullCalendar("refetchEvents")

                  
                }
              })
            },
             eventReceive: function( event ) {

                //var originalEventObject = $(this).data('eventObject');
                //var copiedEventObject = $.extend({}, originalEventObject);
                //copiedEventObject.start = date;
              var eventTitle = event.title
              var start_at = event.start.format();
              //var end_at = event.start.add(30, 'minutes').format();
              var recipe_id = eventTitle.split('id-')[1];
              var recipe_name = eventTitle.slice(0, -3);
        
                var data = {
                  event: {
                    start_at: start_at,
                    //end_at: end_at,
                    recipe_id: recipe_id,
                    recipe_name: recipe_name
                  }
                };

                $.ajax({//ajax call 
                  type:'POST',
                  data: data,
                  url:'/events',
              
                  success:function (response) {
                    event.id = response;
                    event.recipe_id = recipe_id;
                    event.recipe_name = recipe_name;
                    $('#calendar-<%= day.strftime('%Y-%m-%d') %>').fullCalendar('updateEvent', event)
                  }

                });//end ajax call

        }

        }); //end of iniialize calendar

        $('#calendar-<%= day.strftime('%Y-%m-%d') %>').fullCalendar('gotoDate', "<%= day.strftime('%Y-%m-%d') %>");



       function isElemOverDiv() {

          var trashEl = $('#event-trash-<%= day.strftime('%Y-%m-%d') %>');

          var ofs = trashEl.offset();

          var x1 = ofs.left;
          var x2 = ofs.left + trashEl.outerWidth(true);
          var y1 = ofs.top;
          var y2 = ofs.top + trashEl.outerHeight(true);

          if (currentMousePos.x >= x1 && currentMousePos.x <= x2 &&
            currentMousePos.y >= y1 && currentMousePos.y <= y2) {
            return true;
          }
          return false;

        }

      });
</script>