<!-- rendering dynamic css tags for images in a recipe  -->
<%= render 'layouts/recipe_css_variables' %>
<div class="disable-margins">

<div class="row">
  <div class="col-md-12 calendar-page-header">
    <div class="planner-details">
      <h3><%= @date_string %></h3>
      <p>Planner</p>
    </div>
  </div>
</div>


<div class="row calendar-days">
  <%= render 'layouts/recipe_sidebar' %>

  <div class="col-md-9 calendar-nav">
    <span class="btn" id="add-day" data="<%= @day_counter %>">Add Day</span>
  </div>

  <%= render 'one_day', :day => @today %>
  <%= render 'one_day', :day => @tomorrow %>
  <%= render 'one_day', :day => @day_after_tom %>

</div>

<div class="added-days">
  <div class="row added-day" id="day-<%= @day_counter %>"></div>
</div>



</div>


<script>
  $(document).ready(function() {
      $(document).on('click','#add-day',function(){
        $this = $(this)
        day_counter = $this.attr('data')
        $.ajax({//ajax call for questions
                  type:'GET',
                  data: {day_counter: day_counter},
                  url:'/users/add_day',
              
                  success:function (response) {
                    console.log("ajax success")
                    $("#day-" + day_counter).html(response);

                    new_day_counter = parseInt(day_counter) + 1
                    console.log(new_day_counter)
                    $this.attr('data', new_day_counter)


                    string = parse('<div class="row added-day" id="day-%s"> </div>', new_day_counter);
                    $('.added-days').append($(string))

                    element_id = '#day-' + new_day_counter
                    console.log(element_id)
                    $(element_id)[0].scrollIntoView( false );

                  }
                  
                });//end ajax call
    });

    function parse(str) {
      var args = [].slice.call(arguments, 1),
        i = 0;

      return str.replace(/%s/g, function() {
        return args[i++];
      });
    }

  });

</script>


