<!-- rendering dynamic css tags for images in a recipe  -->
<%= render 'recipe_css_variables' %>
<div class="disable-margins">

<div class="row">
  <div class="col-md-12 calendar-page-header">
    <div class="planner-details">
      <h3><%= @date_string %></h3>
      <p>Planner</p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-3 sidebar">
    <div class="header">
      <h2>My Foods</h2>
        <%= link_to "", "#", :class => "glyphicon glyphicon-cog" %>
    </div>

    <div class="meal-selection">
       <button type="button" id="snacks">
          Snacks
          <span class="badge"><%= @snacks.count %></span>
       </button>
      <div class="selection" id="snacks-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% @snacks.each do |r| %>
                <div class='fc-event <%= r.name %>-<%= r.id %>' id="in-list" data="<%= r.name %>-<%= r.id %>"><%= r.name %></div>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="sidedish">
          Side Dishes
          <span class="badge"><%= @side_dishes.count %></span>
       </button>
      <div class="selection" id="sidedish-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% @side_dishes.each do |r| %>
                <div class='fc-event <%= r.name %>-<%= r.id %>' id="in-list" data="<%= r.name %>-<%= r.id %>"><%= r.name %></div>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="maindish">
          Main Dishes
          <span class="badge"><%= @main_dishes.count %></span>
       </button>
      <div class="selection" id="maindish-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% @main_dishes.each do |r| %>
                <div class='fc-event <%= r.name %>-<%= r.id %>' id="in-list" data="<%= r.name %>-<%= r.id %>"><%= r.name %></div>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="dessert">
          Desserts
          <span class="badge"><%= @desserts.count %></span>
       </button>
      <div class="selection" id="dessert-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% @desserts.each do |r| %>
                <div class='fc-event <%= r.name %>-<%= r.id %>' id="in-list" data="<%= r.name %>-<%= r.id %>"><%= r.name %></div>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="drink">
          Drinks
          <span class="badge"><%= @drinks.count %></span>
       </button>
      <div class="selection" id="drink-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% @drinks.each do |r| %>
                <div class='fc-event <%= r.name %>-<%= r.id %>' id="in-list" data="<%= r.name %>-<%= r.id %>"><%= r.name %></div>
              <% end %>
            </div>
          </div>
      </div>

    </div>
  </div>

  <div class="col-md-9 calendar-nav">
  </div>

  <div class="col-md-9 calendar-container">

    <div class="calendar-title"><h1><%= @calendar_title %></h1></div>


      <div class="calendar-box">          
        <div class="calendar-header">
          <h1>Breakfast</h1>
          <h1>Snack</h1>
          <h1>Lunch</h1>
          <h1>Snack</h1>
          <h1>Dinner</h1>
        </div>         
        <div id='calendar'></div>   
      </div>       


  </div>

</div>












</div>
<script>

$(document).ready(function() {

  $('#snacks').click(function() {
    if ( $('#snacks-selection').css('display') == 'none' )
      $('#snacks-selection').css('display','block');
    else
      $('#snacks-selection').css('display','none');
  });

  $('#sidedish').click(function() {
    if ( $('#sidedish-selection').css('display') == 'none' )
      $('#sidedish-selection').css('display','block');
    else
      $('#sidedish-selection').css('display','none');
  });

  $('#maindish').click(function() {
    if ( $('#maindish-selection').css('display') == 'none' )
      $('#maindish-selection').css('display','block');
    else
      $('#maindish-selection').css('display','none');
  });

  $('#dessert').click(function() {
    if ( $('#dessert-selection').css('display') == 'none' )
      $('#dessert-selection').css('display','block');
    else
      $('#dessert-selection').css('display','none');
  });

  $('#drink').click(function() {
    if ( $('#drink-selection').css('display') == 'none' )
      $('#drink-selection').css('display','block');
    else
      $('#drink-selection').css('display','none');
  });

  $('button').click(function() {
    console.log('button clicked');
    var containerHeight = $('.meal-selection').outerHeight() + 80;
    var sidebarHeight = $('.sidebar').outerHeight()
    console.log(containerHeight)
    console.log(sidebarHeight)

    if (containerHeight > sidebarHeight) {
      $('.sidebar').css('height', containerHeight + 'px');
    }
  })

    var calendarWidth = $('#calendar').outerWidth()
    console.log(calendarWidth)

    $('.calendar-header').css('width', calendarWidth + 'px');


            /* initialize the external events
            -----------------------------------------------------------------*/

            $('#external-events .fc-event').each(function() {

                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).attr('data')),
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });


            });


            /* initialize the calendar1
            -----------------------------------------------------------------*/

            $('#calendar').fullCalendar({
              now: '2016-01-07',
              defaultView: 'timelineDay',

              events: [
        { id: '1', start: '2016-01-07T02:00:00', end: '2016-01-07T02:30:00', title: 'event 1', className: 'Pasta' }
      ],


              height: 500,

              scrollTime: '00:00',
              defaultTimedEventDuration: '00:30:00',
              //maxTime: '12:00',
              slotWidth: 86.5 * 2,
           //   slotDuration: 30,
              editable: true,
              droppable: true, // this allows things to be dropped onto the calendar
              dragRevertDuration: 0,
              eventLimit: true, // allow "more" link when too many events
              drop: function(date, jsEvent, ui, res) { 
                var originalEventObject = $(this).data('eventObject');
                var copiedEventObject = $.extend({}, originalEventObject);
                copiedEventObject.start = date;
                copiedEventObject.resource = res.id;
                console.log(jsEvent)
                var eventTitle = jsEvent.target.innerHTML

                var div = $(".fc-title").find()
                console.log(div)
                div.addClass(eventTitle);

                $.ajax({//ajax call for questions
                  type:'POST',
                  data: event,
                  url:'/events/new',
              
                  success:function (response) {
                    console.log("success")
                  }
                  
                });//end ajax call
            

                      

                //$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

         
                
           
              },



              eventRender: function(event, element) {
                console.log(event.title)

                element.addClass(event.title)

                console.log(element)
            },









        });
      });
</script>

