<!-- rendering dynamic css tags for images in a recipe  -->
<%= render 'recipe_css_variables' %>
<div class="disable-margins">

<div class="row">
  <div class="col-md-12 calendar-page-header">
    <div class="planner-details">
      <h3><%= @date_string %></h3>
      <p>Planner</p>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-3 sidebar">
    <div class="header">
      <h2>My Foods</h2>
        <%= link_to "", "#", :class => "glyphicon glyphicon-cog" %>
    </div>

    <div class="meal-selection">
       <button type="button" id="snacks">
          Snacks
          <span class="badge"><%= @snacks.count %></span>
       </button>
      <div class="selection" id="snacks-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% @snacks.each do |r| %>
                <div class='fc-event <%= r.name %>-<%= r.id %> draggable' id="in-list" data="<%= r.name %>-<%= r.id %>" data-event='1'><%= r.name %></div>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="sidedish">
          Side Dishes
          <span class="badge"><%= @side_dishes.count %></span>
       </button>
      <div class="selection" id="sidedish-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% @side_dishes.each do |r| %>
                <div class='fc-event <%= r.name %>-<%= r.id %>' id="in-list" data="<%= r.name %>-<%= r.id %>"><%= r.name %></div>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="maindish">
          Main Dishes
          <span class="badge"><%= @main_dishes.count %></span>
       </button>
      <div class="selection" id="maindish-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% @main_dishes.each do |r| %>
                <div class='fc-event <%= r.name %>-<%= r.id %>' id="in-list" data="<%= r.name %>-<%= r.id %>"><%= r.name %></div>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="dessert">
          Desserts
          <span class="badge"><%= @desserts.count %></span>
       </button>
      <div class="selection" id="dessert-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% @desserts.each do |r| %>
                <div class='fc-event <%= r.name %>-<%= r.id %>' id="in-list" data="<%= r.name %>-<%= r.id %>"><%= r.name %></div>
              <% end %>
            </div>
          </div>
      </div>

      <button type="button" id="drink">
          Drinks
          <span class="badge"><%= @drinks.count %></span>
       </button>
      <div class="selection" id="drink-selection">
          <div id='external-events'>
            <div id='external-events-listing'>
              <% @drinks.each do |r| %>
                <div class='fc-event <%= r.name %>-<%= r.id %>' id="in-list" data="<%= r.name %>-<%= r.id %>"><%= r.name %></div>
              <% end %>
            </div>
          </div>
      </div>

    </div>
  </div>

  <div class="col-md-9 calendar-nav">
  </div>

  <div class="col-md-9 calendar-container">

    <div class="calendar-title"><h1><%= @calendar_title %></h1></div>

    <div id="event-trash"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>


      <div class="calendar-box">          
        <div class="calendar-header">
          <h1>Breakfast</h1>
          <h1>Snack</h1>
          <h1>Lunch</h1>
          <h1>Snack</h1>
          <h1>Dinner</h1>
        </div>         
        <div id='calendar'></div>   
      </div>       


  </div>

</div>












</div>
<script>

var currentMousePos = {
    x: -1,
    y: -1
};

$(document).ready(function() {

   $(document).on("mousemove", function (event) {
        currentMousePos.x = event.pageX;
        currentMousePos.y = event.pageY;
    });

  $('#snacks').click(function() {
    if ( $('#snacks-selection').css('display') == 'none' )
      $('#snacks-selection').css('display','block');
    else
      $('#snacks-selection').css('display','none');
  });

  $('#sidedish').click(function() {
    if ( $('#sidedish-selection').css('display') == 'none' )
      $('#sidedish-selection').css('display','block');
    else
      $('#sidedish-selection').css('display','none');
  });

  $('#maindish').click(function() {
    if ( $('#maindish-selection').css('display') == 'none' )
      $('#maindish-selection').css('display','block');
    else
      $('#maindish-selection').css('display','none');
  });

  $('#dessert').click(function() {
    if ( $('#dessert-selection').css('display') == 'none' )
      $('#dessert-selection').css('display','block');
    else
      $('#dessert-selection').css('display','none');
  });

  $('#drink').click(function() {
    if ( $('#drink-selection').css('display') == 'none' )
      $('#drink-selection').css('display','block');
    else
      $('#drink-selection').css('display','none');
  });

  $('button').click(function() {
    var containerHeight = $('.meal-selection').outerHeight() + 80;
    var sidebarHeight = $('.sidebar').outerHeight()

    if (containerHeight > sidebarHeight) {
      $('.sidebar').css('height', containerHeight + 'px');
    }
  })

    var calendarWidth = $('#calendar').outerWidth()

    $('.calendar-header').css('width', calendarWidth + 'px');


            /* initialize the external events
            -----------------------------------------------------------------*/

            $('#external-events .fc-event').each(function() {

                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).attr('data')),
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

                $(this).click(function(){
                  $(this).css('box-shadow', '2px 2px 18px #888');
                  $(this).animate({
                    'height': '108px',
                    'width': '108px',
                    'margin': '4px',
                  }, 200, function(){
                    $(this).animate({
                      'height': '100px',
                      'width': '100px',
                      'margin': '8px',
                      // 'box-shadow': '0 0 0px #FFF'
                      }, 200, function(){
                        $(this).css('box-shadow', '0 0 0px #444');
                      });
                  });
                });


            });


            /* initialize the calendar1
            -----------------------------------------------------------------*/

            $('#calendar').fullCalendar({
              //now: '2016-01-07',
              defaultView: 'timelineDay',
              events: 'calendar.json',
              height: 500,
              scrollTime: '00:00',
              maxTime: '2:30',
              slotWidth: 86.5 * 2,
           //   slotDuration: 30,
              editable: true,
              forceEventDuration: true,
              defaultTimedEventDuration: '00:30:00',
              droppable: true, // this allows things to be dropped onto the calendar
              dragRevertDuration: 0,
              eventLimit: true, // allow "more" link when too many events
              eventDragStop: function( event ) {
                console.log("eventDragStop fired")
                recipe_id = event.title.slice(-2);
                start_at = event.start.format();
                name = event.title;
                id = event.id;
  

                var data = {
                  event: {
                    start_at: start_at,
                    recipe_id: recipe_id,
                    name: name,
                    id: id
                  }
                };
              
                
                if (isElemOverDiv()) {
                  $('#calendar').fullCalendar('removeEvents', event._id);

                  $.ajax({//ajax call 
                  type:'DELETE',
                  data: data,
                  url:'/events/destroy',
              
                  success:function (response) {
                  }
                  
                });//end ajax call
                  var trashEl = $('#event-trash');
                  if (trashEl.hasClass("to-trash")) {
                      trashEl.removeClass("to-trash");
                  }
                } 
              },
              eventRender: function(event, element) {

                element.addClass(event.title);


                

            },
            eventDrop: function(event) {
              console.log("eventDrop fired")

              recipe_id = event.title.slice(-2);

              var data = {
                  event: {
                    start_at: event.start.format(),
                    //end_at: event.start.add(30, 'minutes').format(),
                    recipe_id: recipe_id,
                    name: event.title,
                    id: event.id
                  }
                };


                $.ajax({//ajax call 
                  type:'PUT',
                  data: data,
                  url:'/events/update',
              
                  success:function (response) {
                    //$('#calendar').fullCalendar('renderEvent', event);
                    //$("#calendar").fullCalendar("refetchEvents")
                  
                }
              })
            },
             eventReceive: function( event ) {
              console.log("event recieved");

                //var originalEventObject = $(this).data('eventObject');
                //var copiedEventObject = $.extend({}, originalEventObject);
                //copiedEventObject.start = date;
              var eventTitle = event.title
              var start_at = event.start.format();
              //var end_at = event.start.add(30, 'minutes').format();
              var recipe_id = eventTitle.slice(-2);
              var recipe_name = eventTitle.slice(0, -3);
        
                var data = {
                  event: {
                    start_at: start_at,
                    //end_at: end_at,
                    recipe_id: recipe_id,
                    recipe_name: recipe_name
                  }
                };

                $.ajax({//ajax call 
                  type:'POST',
                  data: data,
                  url:'/events',
              
                  success:function (response) {
                    event.id = response,
                    $('#calendar').fullCalendar('updateEvent', event)
                  
                }

              });//end ajax call

        }

        }); //end of iniialize calendar



       function isElemOverDiv() {

          var trashEl = $('#event-trash');

          var ofs = trashEl.offset();

          var x1 = ofs.left;
          var x2 = ofs.left + trashEl.outerWidth(true);
          var y1 = ofs.top;
          var y2 = ofs.top + trashEl.outerHeight(true);

          if (currentMousePos.x >= x1 && currentMousePos.x <= x2 &&
            currentMousePos.y >= y1 && currentMousePos.y <= y2) {
            return true;
          }
          return false;

        }

      });
</script>

