<%= render 'layouts/recipe_css_variables' %>

<div class="disable-margins">

<div class="row">
  <div class="col-md-12 calendar-page-header">
    <div class="planner-details">
      <h3><%= @date_string %></h3>
      <p>Shopping List</p>
    </div>
  </div>
</div>

<div class="row">
	<%= render 'layouts/recipe_sidebar' %>
	<div class="col-md-9 shopping-list">
		<div class="shopping-list-container">
			<div class="shopping-list-header">
			  <h1><%= @date_string %></h1>
			</div>

			<div class="list-box">
				<ol>
					<% @shopping_items.each do |s| %>
			  		  <li>
			  		  	<label>
  						    <input type="checkbox" name="quux[1]" >
			  		  	    <%= s[1] %> <%= s[2] %> <%= s[0] %> 
			  		  	</label>
			  		  </li>
					<% end %>
				</ol>
			</div>
		</div>
	</div>
</div>
</div>

<script>
 $(document).ready(function(){
  $('input').iCheck({
    checkboxClass: 'icheckbox_minimal-green',
    radioClass: 'iradio_minimal-green',
    increaseArea: '20%' // optional
  });
});
</script>