<%= render 'layouts/recipe_css_variables' %>

<div class="disable-margins">

<div class="row">
  <div class="col-md-12 calendar-page-header">
    <div class="planner-details">
      <h3><%= @date_string %></h3>
      <p>Shopping List</p>
    </div>
  </div>
</div>

<div class="row">
	<!-- %= render 'layouts/recipe_sidebar' %> -->
  <div id='sidebar-col' class='col-sm-3'>
  <%= render(
    partial: 'layouts/recipe_sidebar',
    locals: {
      snacks: @snacks,
      side_dishes: @side_dishes,
      main_dishes: @main_dishes,
      desserts: @desserts,
      drinks: @drinks,
      dragNdrop: false,
      expanded: @expanded
    }
  ) %>
  </div>

	<div class="col-sm-9 shopping-list sidebar-content">
		<div class="shopping-list-container">
			<div class="shopping-list-header">
			  <h1><%= @date_string %></h1>
			</div>

			<div class="list-box">
				<ol>
					<% @shopping_items.each do |s| %>
			  		  <li>
			  		  	<label>
  						     <input type="checkbox" class='icheck-me' data-skin="minimal" data-color="green">
			  		  	    <%= s[1] %> <%= s[2] %> <%= s[0] %>
			  		  	</label>
			  		  </li>
					<% end %>
            <li style="float:none; clear:both;"></li>
				</ol>
			</div>
		</div>
	</div>
</div>
</div>

<script>

  function resetSidebar(){
    $('#sidebar-col').trigger('detach.ScrollToFixed');
    $('#sidebar-col').scrollToFixed({
      limit: $('.footer').offset().top - $('#sidebar-col').height(),
      spacerClass: 'sidebar-spacer'
    });
  }

  $(document).ready(function() {
      resetSidebar();

      $(window).resize( function(e){
        resetSidebar();
      });
      
 // $('input').iCheck({
 //   checkboxClass: 'icheckbox_minimal-green',
 //   radioClass: 'iradio_minimal-green',
 //   increaseArea: '20%' // optional
  //});

  // $('.sidebar').css('height', '0vh');
  // var innerHeight = $('.footer').offset().top - $('.sidebar').offset().top;
  // console.log($('.footer').offset().top);
  // console.log($('.sidebar').offset().top);
  // console.log(innerHeight);
  // $('.sidebar').css('height', innerHeight+'px');
  // $('.footer').css('margin-top',0);
  // $('.sidebar').trigger('detach.ScrollToFixed');


  // $('.sidebar').scrollToFixed({
  //   limit: $('.footer').offset().top - $('.sidebar').height(),
  //   spacerClass: 'sidebar-spacer'
  // });

  function icheck(){
  if($(".icheck-me").length > 0){
    $(".icheck-me").each(function(){
      var $el = $(this);
      var skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
      color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";
      var opt = {
        checkboxClass: 'icheckbox' + skin + color,
        radioClass: 'iradio' + skin + color,
      }
      $el.iCheck(opt);
    });
  }
}

$(function(){
  icheck();
})
});


</script>