<%= render 'layouts/recipe_css_variables' %>

<div class="disable-margins">

<div class="row">
  <div class="col-md-12 calendar-page-header">
   <div class="flex-container" style="display: -webkit-flex; display: flex; width: 100%; align-items: center; justify-content: center;">
      <div class="flex-item" style="flex: 1; float:right; justify-content:left;">
        <p style="text-align: left;">
        <!--
        <%= link_to "PLANNER", calendar_user_path(current_user, week: @day), class: "next-tile", id: "gen-shop-list", style:"font-size: 1em;"%>
        -->

        <%= link_to image_tag("planner-left.png", onmouseover: "this.src='#{asset_path('planner-hover-left.png')}'", onmouseout: "this.src='#{asset_path('planner-left.png')}'"), calendar_user_path(current_user, week: @day), id: "gen-shop-list", style:"font-size: 1em;"%>

      </p>
      </div> 

    <div class="planner-details" style="flex:1" >
      <h3><%= @date_string %></h3>
      <p>Shopping List</p>
    </div>

    <div class="flex-item" style="flex: 1;"></div>

  </div>
</div>
</div>

<div class="row">

	<!-- %= render 'layouts/recipe_sidebar' %> -->
  <div id='sidebar-col' class='col-sm-3'>
  <%= render(
    partial: 'layouts/recipe_sidebar',
    locals: {
      snacks: @snacks,
      side_dishes: @side_dishes,
      main_dishes: @main_dishes,
      desserts: @desserts,
      drinks: @drinks,
      dragNdrop: false,
      expanded: @expanded,
      breakfasts: @breakfasts
    }
  ) %>
  </div>

	<div class="col-sm-9 shopping-list sidebar-content row">
		<div class="shopping-list-container col-sm-8">
			<div class="shopping-list-header">
			  <h1><%= @date_string %></h1>
			</div>

        <% @categories.each do |cat| %>
          <% unless cat[1].length == 0 %>
            <h2 class="shopping-item"><%= cat[0] %> <span class="expando">[+]</span>
      			<div class="list-box" style="display: none;">
      				<ol>
      					<% cat[1].each do |s| %>
      			  		  <li>
      			  		  	<label>
        						     <input type="checkbox" class='icheck-me' data-skin="minimal" data-color="green">
                          <%= s[0] %> <%= s[1] %> <%= s[2] %>
      			  		  	</label>
      			  		  </li>
      					<% end %>
                  <li style="float:none; clear:both;"></li>
      				</ol>
      			</div>
          <% end %>
        <% end %>
		</div>
    <div class="col-sm-4 shopping-list-recipes">
      <div class="shopping-list-header">
        <h1>Recipes</h1>
      </div>
      <div class='list-box'>
        <ol>
          <% @total_recipes.uniq.each do |r| %>
            <li>
              <%= '(' + @total_recipes.count(r).to_s + ')' if @total_recipes.count(r) > 1 %> <%= link_to r.name, recipe_path(r) %>
              <!-- %= r.get_calories_string(current_user.id) %> -->
            </li>
          <% end %>


        </ol>
      </div>
  </div>
	</div>

</div>
</div>

<script>

  function resetSidebar(){
    $('#sidebar-col').trigger('detach.ScrollToFixed');
    $('#sidebar-col').scrollToFixed({
      limit: $('.footer').offset().top - $('#sidebar-col').height(),
      spacerClass: 'sidebar-spacer'
    });
  }

  $(document).ready(function() {
      resetSidebar();

      $(window).resize( function(e){
        resetSidebar();
      });
      
 // $('input').iCheck({
 //   checkboxClass: 'icheckbox_minimal-green',
 //   radioClass: 'iradio_minimal-green',
 //   increaseArea: '20%' // optional
  //});

  // $('.sidebar').css('height', '0vh');
  // var innerHeight = $('.footer').offset().top - $('.sidebar').offset().top;
  // console.log($('.footer').offset().top);
  // console.log($('.sidebar').offset().top);
  // console.log(innerHeight);
  // $('.sidebar').css('height', innerHeight+'px');
  // $('.footer').css('margin-top',0);
  // $('.sidebar').trigger('detach.ScrollToFixed');


  // $('.sidebar').scrollToFixed({
  //   limit: $('.footer').offset().top - $('.sidebar').height(),
  //   spacerClass: 'sidebar-spacer'
  // });

  function icheck(){
  if($(".icheck-me").length > 0){
    $(".icheck-me").each(function(){
      var $el = $(this);
      var skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
      color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";
      var opt = {
        checkboxClass: 'icheckbox' + skin + color,
        radioClass: 'iradio' + skin + color,
      }
      $el.iCheck(opt);
    });
  }
}

$(function(){
  icheck();
})
});


</script>