<%= render 'layouts/recipe_css_variables' %>

<div class="row shadow-header">
  <div class="col-md-12 recipe-page-header mobile">
    <h1>What do you <i>stella</i> today?</h1>
  </div>
</div>

<div class="row planner-view-control recipes <%= 'fixed-margin' if @mobile_tab == 'recipes' %>">
  <div class="col-sm-6 disable-margins disable-padding">
    <%= link_to recipes_path(:mobile_tab => 'my_foods') do %>
      <button class="week-view-button" id="<%= 'selected' if @mobile_tab=='my_foods' %>"><div class="spatula"></div> My Foods</button>
    <% end %>
  </div>
  <div class="col-sm-6 disable-margins disable-padding">
    <%= link_to recipes_path(:mobile_tab => 'recipes') do %>
      <button class="day-view-button" id="<%= 'selected' if @mobile_tab=='recipes' %>">Recipes <div class="fav-star"></div></button>
    <% end %>
  </div>
</div>

<% if @mobile_tab == 'my_foods' %>
    <div class="row recipe-selection-mobile recipes">
      <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="recipe-selection-header">
          <h2>My Foods</h2>
          <div class="row search">
            <%= form_for_filterrific @filterrific_my_foods do |f| %>
              <div class="filter-search search my_foods">
                <%= f.text_field(
                    :search_query_my_foods,
                    class: 'filterrific-periodically-observed',
                    placeholder: "Search my recipes"
                ) %>
              </div>
            <% end %>
          </div>
        </div>
        <div id='sidebar-col-mobile'>
          <%= render(
              partial: 'recipe_selection_mobile',
              locals: {
                snacks: @snacks,
                side_dishes: @side_dishes,
                main_dishes: @main_dishes,
                desserts: @desserts,
                drinks: @drinks,
                expanded: @expanded
              }
            ) %>
        </div>
      </div>
  </div>
<% else %>
  <div class= "row fixed-filter-bar">
    <div class="col-md-12 filter-bar mobile">
      <%= render(
        partial: 'filter_form_mobile',
        locals: {filtering_by: params[:filterrific] }
      ) %>
    </div>
  </div>
  <div class="col-xs-12 mobile" id="recipes-col">
  <%= render(
      partial: 'recipes/list',
      locals: { recipes: @recipes }
    ) %>
  </div>
<% end %>

<div class='mobile-spacer'></div>


<script>

  // copied from ratyrate.js.erb
  function resetStars(){
    console.log('resetting stars!!');
    $(".star").each(function() {
      var $readonly = ($(this).attr('data-readonly') == 'true');
      // CUSTOM readonly override
      if( $(this).attr('data-cancel-hint') == 'readonly' ) $readonly = true;
      var $half     = ($(this).attr('data-enable-half') == 'true');
      var $halfShow = ($(this).attr('data-half-show') == 'true');
      var $single   = ($(this).attr('data-single') == 'true');
      $(this).raty({
        score: function() {
          return $(this).attr('data-rating')
        },
        number: function() {
          return $(this).attr('data-star-count')
        },
        half:        $half,
        halfShow:    $halfShow,
        single:      $single,
        path:        $(this).attr('data-star-path'),
        starOn:      $(this).attr('data-star-on'),
        starOff:     $(this).attr('data-star-off'),
        starHalf:    $(this).attr('data-star-half'),
        cancel:      $(this).attr('data-cancel'),
        cancelPlace: $(this).attr('data-cancel-place'),
        cancelHint:  $(this).attr('data-cancel-hint'),
        cancelOn:    $(this).attr('data-cancel-on'),
        cancelOff:   $(this).attr('data-cancel-off'),
        noRatedMsg:  $(this).attr('data-no-rated-message'),
        round:       $(this).attr('data-round'),
        space:       $(this).attr('data-space'),
        target:      $(this).attr('data-target'),
        targetText:  $(this).attr('data-target-text'),
        targetType:  $(this).attr('data-target-type'),
        targetFormat: $(this).attr('data-target-format'),
        targetScoret: $(this).attr('data-target-score'),
        readOnly: $readonly,
        click: function(score, evt) {
          var _this = this;
          if (score == null) { score = 0; }
          $.post('<%= Rails.application.class.routes.url_helpers.rate_path %>',
          {
            score: score,
            dimension: $(this).attr('data-dimension'),
            id: $(this).attr('data-id'),
            klass: $(this).attr('data-classname')
          },
          function(data) {
            if(data) {
              // success code goes here ...

              if ($(_this).attr('data-disable-after-rate') == 'true') {
                $(_this).raty('set', { readOnly: true, score: score });
              }
            }
          });
        }
      });
    });
  };

  var expandedSections = [];
  function updateMyFoods(){
    expandedSections = [];
      $('.selection').each(function(){
      if( $(this).css('display') == 'block')
        expandedSections.push('true');
      else
        expandedSections.push('false');
    });
      console.log(expandedSections);

        // $.ajax({//ajax call for questions
        //   type:'GET',
        //   data: {new_recipe_id: new_recipe_id},
        //   url:'/sidebar',
        //   success:function (response) {
           
           // $('.selection').each(function(index){
           //   if( expandedSections[index] == 'true')
           //     $(this).css('display','block');
           //   else
           //     $(this).css('display','none');
           // });

           // active remove listener again

           // resetSidebar();
          // }
        // });//end ajax call
  }

  $(document).ready(function() {
      $(document).on('click','#follow',function(){
        $this = $(this)
        recipe_id = $this.attr('data')
        console.log(recipe_id)
        $.ajax({//ajax call for questions
                  type:'POST',
                  data: {id: recipe_id},
                  url:'/relationships',

                  success:function (response) {
                    console.log('done');
                    $this.addClass("spatula-selected");
                    $this.attr('id', 'unfollow');
                    $this.removeClass("spatula-unselected");
                  }
                });//end ajax call
    });

    $(document).on('click','#unfollow',function(){
        $this = $(this);
        recipe_id = $this.attr('data');
        console.log(recipe_id);
        $.ajax({//ajax call for questions
                  type:'DELETE',
                  data: {id: recipe_id},
                  url:"/relationships/" + recipe_id,
              
                  success:function (response) {
                    $this.addClass("spatula-unselected");
                    $this.attr('id', 'follow');
                    $this.removeClass("spatula-selected");
                  }
                });//end ajax call
    });

     $(document).on('click','#show_more_link',function(){
        $.ajax({
          success:function(){
            // resetStars();
          }
        });
        $(this).remove();
     });

     $(document).on('click','.filtering-tags li',function(){
        var value = $(this).attr('data-value');
        var name = $(this).attr('data-name');
        if(name=='filterrific[owns]' || name=='filterrific[following]' || name=='filterrific[cooked]')
          value = '<%= current_user.id %>';
        var string = 'input[name="' + name + '"][value=' + value + ']';
        $(string).click();
      });

      // reapply filterrific
      setTimeout(function(){
        $('#filterrific_sorted_by').trigger('change');
      }, 1);

      // reapply myfoods
      setTimeout(function(){
        // updateMyFoods();
      }, 1000);

  });
</script>