<%= render 'layouts/recipe_css_variables' %>

<div class="row week-nav">
  <div class="col-sm-12 disable-margins disable-padding planner-mobile-header">
    <div class="spatula-mobile"><%= image_tag 'icons/spatula-selected.png' %></div>
    <a href="/users/<%= current_user.id %>/calendar" class="prev-arrow-link prev-week-link" data=<%= params[:week_counter] %>><span id="prev-week" class="arrow arrow-left" aria-hidden="true"></span></a>
    <h2><%= @days_from_week.first.strftime("%B") %></h2>
    <span class="week-subtitle"><%= @week_subtitle %></span>
    <a href="/users/<%= current_user.id %>/calendar" class="next-arrow-link next-week-link" data=<%= params[:week_counter] %>><span class="arrow arrow-right" id="next-week" aria-hidden="true"></span></a>
    <span class="shopping-cart" aria-hidden="true"></span>
  </div>
</div>

<div class="row planner-view-control">
  <div class="col-sm-6 disable-margins disable-padding week-view">
    <button class="week-view-button" id="selected"><%= link_to "Week View", calendar_user_path(current_user) %></button>
  </div>
  <div class="col-sm-6 disable-margins disable-padding day-view">
    <button class="day-view-button">Day View</button>
  </div>
</div>

<%= render 'planner_instructions' %>

<%= render "jquery_slider" %>

<div class="row weekly-planner" id="offset-margins" data="<%= current_user.id %>">
  <% @days_from_week.each do |day| %>
	<div class="one-day col-md-4 col-xs-4 col-sm-4">
	  <h2 class="one-day-header"><%= day.strftime("%A") %></h2>

	  <div class="meals" id="<%= day %>">

        <% @meal_types.each do |m| %>
          <div class="meal-types" id="<%= m[3] %>">
            <div class="added-meals">
              <% events = @events.where(:start_at => day.strftime + m[1]) %>
              <% events.each do |e| %>
                <% recipe = e.get_recipe(e.recipe_id) %>
                <% servings = e.servings? ? true : false %>
	  	          <div class="meal week-meal" data ="<%= e.recipe_id %>">
	                <a class="mobile-event fc-event-container <%= e.get_recipe(e.recipe_id).get_friendly_name %>id-<%= e.recipe_id %>" id="mobile-event" data-event="<%= e.id %>" data-recipe="<%= e.recipe_id %>" data-recipe-name="<%= recipe.name %>" data-image="<%= e.get_recipe(e.recipe_id).get_friendly_name %>id-<%= e.recipe_id %>" data-servings="<%= e.servings || recipe.servings %>">
	                  <span class="servings"><%= servings ? e.servings : recipe.servings %>s</span>
	                  <span class="event-title" style="background-color: <%= m[2] %>"><%= truncate(recipe.name, length: 14) %></span>
	                </a>
	              </div>
	            <% end %>
            </div>

	      <!-- div -->

	      <% if events.length == 0 %>
	        <div class="meal week-meal add-meal-big <%=day %>-<%= m[3] %>-big">
	          <a class="add-meal" data="<%= day %>" data-one="<%= m[0] %>" data-two="<%= day.strftime("%A") %>" data-three="<%= m[1] %>" data-four="<%=m[3] %>" data-five="<%= m[2] %>">
	      	    <div class="add-meal-box">
	      	      <span class="glyphicon glyphicon-plus" id="hide-chevron" aria-hidden="true"></span>
	      	      <h3>Add <%= m[0] %></h3>
	      	    </div>
	          </a>
	        </div>

	        <div class="add-meal-short <%=day %>-<%= m[3] %>-small" id="hidden">
	          <a class="add-meal" data="<%= day %>" data-one="<%= m[0] %>" data-two="<%= day.strftime("%A") %>" data-three="<%= m[1] %>" data-four="<%=m[3] %>" data-five="<%= m[2] %>">
	      	    <div class="add-meal-box">
	      	      <h3>Add <%= m[0] %></h3>
	      	    </div>
	          </a>
	        </div>
	      <% else %>
	      	<div class="meal week-meal add-meal-big <%=day %>-<%= m[3] %>-big" id="hidden">
	          <a class="add-meal" data="<%= day %>" data-one="<%= m[0] %>" data-two="<%= day.strftime("%A") %>" data-three="<%= m[1] %>" data-four="<%=m[3] %>" data-five="<%= m[2] %>">
	      	    <div class="add-meal-box">
	      	      <span class="glyphicon glyphicon-plus" id="hide-chevron" aria-hidden="true"></span>
	      	      <h3>Add <%= m[0] %></h3>
	      	    </div>
	          </a>
	        </div>

	        <div class="add-meal-short <%=day %>-<%= m[3] %>-small">
	          <a class="add-meal" data="<%= day %>" data-one="<%= m[0] %>" data-two="<%= day.strftime("%A") %>" data-three="<%= m[1] %>" data-four="<%=m[3] %>" data-five="<%= m[2] %>">
	      	    <div class="add-meal-box">
	      	      <h3>Add <%= m[0] %></h3>
	      	    </div>
	          </a>
	        </div>
	      <% end %>
        </div>
	    <% end %>

	  </div>
	</div>
  <% end %>
</div>

<%= render(
    partial: 'recipe_selection_mobile',
    locals: {
      snacks: @snacks,
      side_dishes: @side_dishes,
      main_dishes: @main_dishes,
      desserts: @desserts,
      drinks: @drinks,
      expanded: @expanded
    }
  ) %>

<%= render 'event_actions_mobile' %>
<%= render 'day_selector_mobile' %>

<script>
  $(document).ready(function() {


    $('.next-week-link').click(function(){ 
      week_counter = <%= params[:week_counter].to_i %>
      updated_week_counter = week_counter + 1
      var zoomLevel = $( "#zoomSlider" ).slider( "value" )
      this.href = this.href + '?week_counter=' + (updated_week_counter) + '&zoom_level=' + zoomLevel
      console.log(value)
    });

    $('.prev-week-link').click(function(){ 
      week_counter = <%= params[:week_counter].to_i %>
      updated_week_counter = week_counter - 1
      var zoomLevel = $( "#zoomSlider" ).slider( "value" )
      this.href = this.href + '?week_counter=' + (updated_week_counter) + '&zoom_level=' + zoomLevel
    });



  });
</script>
<!--div class="meal">
	          <a class="mobile-event fc-event-container <= e.get_recipe(e.recipe_id).get_friendly_name %>id-<= e.recipe_id %>">
	            <span class="servings"><= recipe.servings %>s</span>
	            <span class="event-title" style="background-color: <= m[2] %>"><= truncate(recipe.name, length: 14) %></span>
	          </a>
	        </div-->
















