<div id="sign-in-block">
  <div class="boxes"> 
    <div class="box">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>  
        <%- flash.each do |name, msg| -%> 
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) || :id != "Log in or sign up below to continue!" %>
      <%- end -%>  
    </div>
  </div>

  <div class="boxes">
     

      <div class="box login" style="">
        <div>
          <%= f.email_field :email, autofocus: false, placeholder: "Email", class: "input" %>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "input" %>

          <% if devise_mapping.rememberable? -%>
            <div class="field remember">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>

            </div>
          <% end -%>

          <div class="boxes">
            <div class="box">
               <%= f.submit "Login", class: "login"%>
            </div>
            <div class="box">
              <%= link_to "CREATE AN ACCOUNT", new_registration_path(resource_name), class: 'btn btn-large' %>  
            </div>
          </div>
         
          
          <%= link_to "Forgot password?", new_password_path(resource_name) %></div>
          <% end %>
        </div>

         <div class="box" style="">
          <p>Don't have an account yet?</p>
          <%= link_to user_facebook_omniauth_authorize_path do %>
            <%= image_tag('log_in_with_facebook.png') %>
          <% end %>
        </div>
        

  </div>

</div>



  



