<!--<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1587213768258926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>-->

<!-- NOTES FROM PATRICK 

Hey, so this ajax request should work now, send a recipe with the param liked set to true or false and the backend will return another recipe as well as a token, send the token along with any subsequent requests as the param token (a string).  The code is in the static_pages controller under temporary_preference, and the ajax request below contains the URL (POST request).  You also now have 5 randomly generate recipes available through the variable gon.recipes.  I haven't had a chance to buikd out a feature to shuffle these yet.

-->

<div class="homepage">
    <div class="section title">
      <div class="mainlogo">
           <%= image_tag "logo-foodstella.png", id: "logo" %>
      </div>
    </div>
    <div class="section tagline">
         The easiest way to plan your week!
    </div>
        
    <%= render "sign_in_section" %>
    <%= render "yes_no_section"%>
    <%= render "next_few_days"%>
    <%= render "shopping_list"%>

</div>



<!-- js goes at the bottom of the body for loading speed-->
  <script type="text/javascript">
    // scrolling
    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);

        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 600, 'swing', function () {
            window.location.hash = target;
        });
    });

    
    $( function() {
      $( "#sortable1, #sortable2, #sortable3, .sortable-day").sortable({
        connectWith: ".connectedSortable"
      }).disableSelection();

      $( "#sortable1").droppable({
        hoverClass: "highlight",
        drop: function( ) {// dropped into dislike
            // refreshData($(".middle_remove").attr('name'), false)
            removeFunct(".middle_remove");
        }
      });

      $( "#sortable3").droppable({
        hoverClass: "highlight",
        drop: function( ) { // dropped into like
           // refreshData($(".middle_remove").attr('name'), false)
            removeFunct(".middle_remove");
        }
      });
    });
  
  </script>

  <!-- js for adding and spawning elements -->
  <script type="text/javascript">
    function getRandomArbitrary(min, max) {
      return Math.floor(Math.random() * (max - min) + min) + 1;
    }
    function generate(){
      var children = $('#days-items').find(".connectedSortable");
      children.find(".sortable").remove();
      for (var i = 0; i < children.length; i++) {
        var tableChild = $(children[i]);
        
        for (var x = 0; x < 3; x++) {
          tableChild.prepend(wrapElement().fadeIn(400));
         }
      }

    }

    // $(".add").on('click', );
    function spawnOnto(id_str){
      spawn($("#"+id_str))
    }
    function spawn(element){
      element.prepend(wrapElement().fadeIn(400));
    }
    var wrapElement = function(){
      var num = getRandomArbitrary(0,5);
      var imgUrl = "'assets/food/" + num + ".png'";
      var div = $('<div style="background: url(' + imgUrl + ') no-repeat center center;" class="sortable ui-sortable-handle"></div>');
        var hidden = $('<div class="inner"></div>');
          var remove = $('<p class="remove" style="color:red;" onclick="removeFunct(this)"> X </p>');
          var title = $('<p> Item number ' + num + '</p>');
          var info = $('<p> Information on item number ' + num + '</p>');
        hidden.append(remove);
        hidden.append(title);
        hidden.append(info);
      div.append(hidden);
      return div;
    }

</script>

