<!--<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1587213768258926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>-->

<!-- NOTES FROM PATRICK 

Hey, so this ajax request should work now, send a recipe with the param liked set to true or false and the backend will return another recipe as well as a token, send the token along with any subsequent requests as the param token (a string).  The code is in the static_pages controller under temporary_preference, and the ajax request below contains the URL (POST request).  You also now have 5 randomly generate recipes available through the variable gon.recipes.  I haven't had a chance to buikd out a feature to shuffle these yet.

FROM SAL - 1/9/17
removeFunct() has been updated to get 10 new recipes for gon.recipes, one a user reaches the end of the array

-->

<div class="homepage">
    <div style="background-color: black;">
      <div class="section title" style="position: relative; z-index: 3; background-color: transparent;"> 
        <div style="position: absolute; top: -1px; background-repeat:repeat-both; background-image: url('/assets/oct.png'); width: 100%; height: 100%; opacity: 0.1; z-index: -1;"></div>
        <div class="mainlogo">
             <%= image_tag "logo-foodstella-light.png", id: "logo", :align=> "middle" %>
        </div>

      </div>
    </div>
    
    <div class="section tagline">
         The easiest way to plan your week!
    </div>
        
    <%= render "sign_in_section" %>
    <div style="background-color: black;">
      <div style="position: relative; z-index: 3; background-color: transparent;">
        <div style="position: absolute; background-repeat:repeat-both; background-image: url('/assets/oct.png'); width: 100%; height: 100%; opacity: 0.1; z-index: -1;">
        </div>
        <div>
          <%= render "yes_no_section"%>
        </div>
      </div>
    </div>
    <%= render "next_few_days"%>
    <%= render "shopping_list"%>

</div>



<!-- js goes at the bottom of the body for loading speed-->
  <script type="text/javascript">
    // scrolling
    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);

        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 600, 'swing', function () {
            window.location.hash = target;
        });
    });

    
    $( function() {
      $( "#sortable1, #sortable2, #sortable3, .sortable-day").sortable({
        connectWith: ".connectedSortable"
      }).disableSelection();

      $( "#sortable1").droppable({
        hoverClass: "highlight",
        drop: function( ) {// dropped into dislike
          var recipe_id = $('#swiped-recipe').attr('name');
            refreshData(recipe_id, false)
            // removeFunct(".middle_remove");
            removeFunct("#swiped-recipe");
        }
      });

      $( "#sortable3").droppable({
        hoverClass: "highlight",
        drop: function( ) { // dropped into like
          var recipe_id = $('#swiped-recipe').attr('name');
            refreshData(recipe_id, true)
            // removeFunct(".middle_remove");
            removeFunct("#swiped-recipe");
        }
      });
    });
  
  </script>

 

