<div class="backsplash-col">
  <div>
    <div id="imgs">
      <%= image_tag "logo-foodstella.png", id: "logo" %>
      <!-- <br /><br /> -->
      <br />
      <%= image_tag "banner-foodstella.png", id: "banner" %>
    </div>
  </div>
</div>

<div class="signin-col">

  <div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      

      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) || :id != "You need to sign in or sign up before continuing." %>
      <%- end -%>  

        <br>

      <div class="field">
        <!-- <%= f.label :email %><br /> -->
        <%= f.email_field :email, autofocus: false, placeholder: "Email" %>
      </div>
    
      <br />
      
      <div class="field">
        <!-- <%= f.label :password %><br /> -->
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div>
      
      <!-- <br /> -->

      <% if devise_mapping.rememberable? -%>
        <div class="field remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="field forgot">
        <%= link_to "Forgot password?", new_password_path(resource_name) %>
      </div>

      <div class="clear"></div>

      <div class="actions">
        <%= f.submit "Login" %>
      </div>
    <% end %>

    <div class="clear"></div>
    <br />
    <br />
  
    <%= link_to "CREATE AN ACCOUNT", new_registration_path(resource_name) %>

    <br />
    <br />

    <div class="or wing"></div><div class="or">or</div><div class="or wing"></div>

    <br />
    <br />

    <div id='facebook'>Facebook</div>

    <br>

     <!-- <= render "devise/shared/links" %> -->
  </div>

</div>
