<!--<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1587213768258926";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>-->

<!-- NOTES FROM PATRICK 

Hey, so this ajax request should work now, send a recipe with the param liked set to true or false and the backend will return another recipe as well as a token, send the token along with any subsequent requests as the param token (a string).  The code is in the static_pages controller under temporary_preference, and the ajax request below contains the URL (POST request).  You also now have 5 randomly generate recipes available through the variable gon.recipes.  I haven't had a chance to buikd out a feature to shuffle these yet.

FROM SAL - 1/9/17
removeFunct() has been updated to get 10 new recipes for gon.recipes, once a user reaches the end of the array

-->

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
  <div class="container">
    <div class="row">
      <nav class="col-md-3" id="myScrollspy">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#homepage"></a></li>
          <li><a href="#yesOrNo"></a></li>
          <li><a href="#nextFewDays"></a></li>
          <li><a href="#shoppingList"></a></li>
          <li><a href="#aboutSeo"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</body>
  <div class="homepage" id="homepage">
      <div style="background-color: black;">
        <div class="section title" style="position: relative; z-index: 3; background-color: transparent;"> 
          <div style="position: absolute; top: -1px; background-repeat:repeat-both; /*background-image: url('/assets/oct.png');*/ width: 100%; height: 100%; opacity: 0.1; z-index: -1;"></div>
          <div class="mainlogo">
              <%= image_tag "logo-foodstella-light.png", id: "logo", :align=> "middle" %>
          </div>

        </div>
      </div>
      
      <div class="section tagline">
          The easiest way to plan your cooking and shopping for the week!
      </div>
          
      <%= render "sign_in_section" %>
      <div style="background-color: black;">
        <div style="position: relative; z-index: 3; background-color: transparent;">
          <div style="position: absolute; background-repeat:repeat-both; /*background-image: url('/assets/oct.png');*/ width: 100%; height: 100%; opacity: 0.1; z-index: -1;">
          </div>
          <div id="yesOrNo">
            <%= render "yes_no_section"%>
          </div>
        </div>
      </div>
      <div id="nextFewDays">
        <%= render "next_few_days"%>
      </div>
      <div id="shoppingList">
        <%= render "shopping_list"%>
      </div>
      <div id="aboutSeo">
        <%= render "about_seo" %>
      </div>



<!-- js goes at the bottom of the body for loading speed-->
  <script type="text/javascript">
    // scrolling
    $('a[href^="#"]').on('click',function (e) {
        e.preventDefault();
        var target = this.hash;
        var $target = $(target);

        $('html, body').stop().animate({
            'scrollTop': $target.offset().top
        }, 600, 'swing', function () {
            window.location.hash = target;
        });
    });

    
    $( function() {
      $( "#sortable1, #sortable2, #sortable3, .sortable-day").sortable({
        connectWith: ".connectedSortable"
      }).disableSelection();

      $( "#sortable1").droppable({
        hoverClass: "highlight",
        drop: function( ) {// dropped into dislike
          var recipe_id = $('#swiped-recipe').attr('name');
            refreshData(recipe_id, false)
            // removeFunct(".middle_remove");
            removeFunct("#swiped-recipe");
        }
      });

      $( "#sortable3").droppable({
        hoverClass: "highlight",
        drop: function( ) { // dropped into like
          var recipe_id = $('#swiped-recipe').attr('name');
            refreshData(recipe_id, true)
            // removeFunct(".middle_remove");
            removeFunct("#swiped-recipe");
        }
      });
    });



    $( "#droppable" ).droppable({
      tolerance: "touch",
      over: function(ev, ui) {
        ui.draggable.context.style.border = '5px solid red';
        $(ui.draggable.context).animate({height: '10vh', width: '10vw', fontSize: '.6em'});
      },
      out: function(ev, ui) {
        ui.draggable.context.style.border = '1px solid black';
        $(ui.draggable.context).animate({height: '20vh', width: '20vw', fontSize: '1.1em'});
      },
      drop: function(ev, ui) {
        ui.draggable.remove();
      }
    });
  
  </script>

 

