<div class="footer">
  <div class="container-fluid">

    <div class="row">
      <span><%= link_to "ABOUT", destroy_user_session_path, :method => :delete  %></span>
      <span><%= link_to "RECIPES", new_recipe_path %></span>
      <span><%= link_to "CALENDAR", calendar_user_path(current_user) %></span>
      <!-- <%  user_signed_in? %> -->
      <span><%= link_to "PROFILE", dashboard_user_path(current_user) %></span>
    </div>

    <div class="row"></div>

    <div class="row">
      <%= image_tag "logo-foodstella-white.png", class: "logo" %>
    </div>

    <div class="row">
      <span><a href=''>Terms</a></span>
      <span>&#169;FOODSTELLA</span>
      <span><a href="">Privacy</a></span>
    </div>

  </div><!-- /.container-fluid -->
</div>