<div class="footer">
  <div class="container-fluid">

    <div class="row">
      <!-- <span>%= link_to "FOOD NEWS", new_recipe_path  %></span> -->
      <!-- <span><= link_to "MY FOOD", new_recipe_path %></span> -->
      <span><%= link_to "RECIPES", recipes_path %></span>
      <span><%= link_to "PLANNER", calendar_user_path(current_user) %></span>
      <!-- <%  user_signed_in? %> -->
      <span><%= link_to "PROFILE", profile_path(current_user) %></span>
    </div>

    <div class="row">
      <span><%= link_to "FEEDBACK", new_feedback_path %></span>
      <span><%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete  %></span>
    </div>

    <div class="row">
      <%= image_tag "logo-foodstella-white.png", class: "logo" %>
    </div>

    <div class="row">
      <span>&#169;FOODSTELLA</span>
      <span><a href=''>Terms</a></span>
      <span><a href="">Privacy</a></span>
      <span><%= link_to "Contact Us", new_feedback_path(contact: true) %></span>
    </div>

  </div><!-- /.container-fluid -->
</div>