<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left align-bottom">
        <li><%= image_tag "logo-foodstella.png", id: "navbar-logo" %></li>
        <!--  I'm going to takethis out for now because we don't have search yet <li><form><input type="text" placeholder="Search" id="navbar-search"></form></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Dashboard", dashboard_user_path(current_user) %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete  %></li>
              <li><%= link_to "New Recipe", new_recipe_path %></li>
              <li><%= link_to "Calendar", calendar_user_path(current_user) %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>