<nav class="navbar navbar-default">
  <div class="container-fluid">


    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <!-- <span class="icon-bar"></span> -->
      </button>
      <%= link_to recipes_path do %>
        <%= image_tag "logo-foodstella.png", class: "logo" %>
      <% end %>
    </div>

    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
    <div class="collapse navbar-collapse" id="myNavbar">
      
      <!-- <ul class="nav navbar-nav">
        <li><a><input type="text" placeholder="" id="navbar-search"></a></li>
      </ul> -->

      <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <!-- <li id="navbar-search"><a><input type="text"></a></li> -->
              <!-- <li>%= link_to "Dashboard", dashboard_user_path(current_user) %></li> -->
              <!-- <li>%= link_to "Users", users_path %></li> -->
              <!-- <li> %= link_to "FOOD NEWS", '#' %></li> -->
              <li><%= link_to "CREATE RECIPE", new_recipe_path %></li>
              <li><%= link_to "RECIPES", recipes_path %></li>
              <li class='mobile-nav'><%= link_to "MY FOODS", sidebar_path(:mobile => true) %></li>
              <li><%= link_to "PLANNER", calendar_user_path(current_user) %></li>
              <li><%= link_to "PROFILE", profile_path(current_user) %></li>

            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>