<!DOCTYPE html>
<html class="<%= 'full-height' if controller_name == 'sessions' || controller_name == 'registrations' %>">
<!-- <html class="<%= controller_name %>"> -->
<head>
  <title>FoodStella</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Added for collapsed navbar support -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body class="<%= 'full-height' if controller_name == 'sessions' || controller_name == 'registrations' %>">

	<%- if controller_name != 'sessions' && controller_name != 'registrations' %>
		<%= render "layouts/navbar" %>
	<% end -%>

<!-- <div class="
  <%= controller_name == 'sessions' || controller_name == 'registrations' ? 'fluid-container' : 'container' %> 
  <%= 'full-height' if controller_name == 'sessions' || controller_name == 'registrations' %>"> -->
  <div class="fluid-container 
    <%= 'full-height' if controller_name == 'sessions' || controller_name == 'registrations' %>">
  <%= yield %>
</div>

<%- if controller_name != 'sessions' && controller_name != 'registrations' %>
   <%= render "layouts/footer" %>
<% end -%>


</body>
</html>
