<!DOCTYPE html>
<html class="<%= 'hasFooter' if controller_name != 'sessions' %>">
<head>
  <title>FoodStella</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="<%= 'hasFooter' if @layout == true %>">

	<%- if @layout == true %>
		<%= render "layouts/navbar" %>
	<% end -%>

<div class="<%= @layout ? 'container' : 'fluid-container'  %>">
  <%= yield %>
</div>

</body>
</html>
